<%#= stylesheet_link_tag 'portfolio_search' %>
<%= stylesheet_link_tag 'dashboard'  %>
<div id="wrap"><!-- 960 px wrapper --> 

  <div id="main"><!--main div-->
    <div id="portfolios">
      <h1>portfolios
      <a href="/portfolios/">(see more)</a>
      </h1>
      <div id="search_box">
      <!--search for your next design job begins...-->
      <form action="/portfolios/search" method="post">
        <input type="text" maxlength="75" size="45" name="search_textfield" id="search_textfield"/>
        <div id="portfolio_search_button"></div>
      </form>
      </div>


      <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/889/thumb/12.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/881/thumb/d_04.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/785/thumb/3788769766_cd8b532400.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/780/thumb/5888_1133394628005_1621475373_353411_6658518_n.jpg"/>
        </div>
      </a>
      <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/809/thumb/7273_HXOUuUSpafUD9zsLAtF5a7bKA.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/776/thumb/PORTFOLIO1-62.jpg"/>
        </div>
      </a>
      <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/872/thumb/DSC00684.JPG"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/874/thumb/DSC_7350.jpg"/>
        </div>
      </a>
      <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/809/thumb/7273_HXOUuUSpafUD9zsLAtF5a7bKA.jpg"/>
        </div>
      </a>
      <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/878/thumb/template_5.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/879/thumb/template_6.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/872/thumb/DSC00684.JPG"/>
        </div>
      </a><a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/878/thumb/template_5.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/879/thumb/template_6.jpg"/>
        </div>
      </a>
       <a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/872/thumb/DSC00684.JPG"/>
        </div>
      </a><a href="/portfolios/show/9">
        <div class="search_portfolio_free_div_in">
            <img src="http://images.dezineconnect.com/Dezineconnect/images/images/872/thumb/DSC00684.JPG"/>
        </div>
      </a>
    </div>


    
    
    
    <div id="design_directories">
      <h1>design directories
        <a href="/design_directories/">(see more)</a>
      </h1>
      <div class="search_box">
      <!--search for your next design job begins...-->
      <form action="/portfolios/search" method="post">
        <input type="text" maxlength="75" size="45" name="search_textfield" id="search_textfield"/>
        <div id="portfolio_search_button"></div>
      </form>
      </div>
      <br class="clear"/>
     <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url(&quot;/system/logos/98/original/unity_projlogo.jpg?1279541508&quot;) no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
          <!--<span>
          <h6>Unity</h6>
          <h5>sdfsd</h5>
          <h5>Delhi, India</h5>
          </span>-->
        </div>
      </a>
      <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/91/original/starone.jpg?1279539499') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>
      <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/92/original/toyota_logo.jpg?1279539573') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>
      <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/93/original/citi_logo.gif?1279539606') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>
      <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/87/original/yahoo.gif?1279538946') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>
      <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/85/original/Godrej_logo_smallest.png?1279538883') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>
       <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/89/original/tata-sky-logo.gif?1279539386') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
        </div>
        </div>
      </a>
       <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/92/original/toyota_logo.jpg?1279539573') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a><a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/89/original/tata-sky-logo.gif?1279539386') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
        </div>
        </div>
      </a>
       <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/92/original/toyota_logo.jpg?1279539573') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a><a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/89/original/tata-sky-logo.gif?1279539386') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
        </div>
        </div>
      </a>
       <a href="/design_directories/show/98">
        <div style="vertical-align: middle;" class="design_directories_free_div">
          <div style="background: url('http://192.168.1.18:3000/system/logos/92/original/toyota_logo.jpg?1279539573') no-repeat scroll center center transparent; width: 120px; height: 70px; float: left; margin: 5px;">
          </div>
        </div>
      </a>

</div>
    <div class="clear"></div>
    <!-- Changed More button code -->
  </div>
  </div><!--main div-->

