
  <div class="textwidget">
      <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
      <script type="text/javascript">FB.init("129c2ceec896a214488559235f89b235");</script>

      <fb:fan class=" FB_fan FB_ElementReady" profile_id="355092612970" stream="" connections="12" width="250" height="337">
      </fb:fan>
         <div style="font-size: 8px;">
            <a href="http://www.facebook.com/pages/DezineConnect/355092612970">DezineConnect on Facebook</a>
         </div>
  </div>


