<!-- sidebar chunk -->
<div class="sidebar_chunk">

  <h3>featured interviews</h3>
  <div class="sidebar_inner">

    <% arr_blogs = Array.new
    arr_random_blogs = Array.new
    @blogs = Blog.find(:all)
    @blogs.each do | var_blog |

      arr_blogs << var_blog.id
    end

    arr_random_blogs = arr_blogs.sort_by{rand()}.slice(0..2)

    arr_random_blogs.each do | id_interview |
    %>

      <%
      blog = Blog.find_by_id(id_interview)
      unless blog.nil?  then
      %>

        <div class="sider_interviews">
          <% if blog.name == 'Suresh Eriyat' then %>
            <a href="/dlog/suresh_eriyat">
            <% end %>
              <% if blog.name == 'designdaku' then %>
            <a href="/dlog/designdaku">
            <% end %>
            <% if blog.name == 'Satya Rajpurohit' then %>
              <a href="/dlog/satya_rajpurohit">
              <% end %>
              <% if blog.name == 'Rajesh Dahiya' then %>
                <a href="/dlog/rajesh_dahiya">
                <% end %>
  <% if blog.name == 'Rupesh Vyas' then %>
              <a href="/dlog/rupesh_vyas">
	                  <% end %>


<% if blog.name == 'Satyajeet Kumar' then %>
                  <a href="/dlog/satyajeet_kumar">
                  <% end %>
                  <% if blog.name == 'Sandip Paul' then %>
                    <a href="/dlog/Sandip_Paul">
                    <% end %>
                    <% if blog.name == 'Rahul Mishra' then %>
                      <a href="/dlog/rahul_mishra">
                      <% end %>
                      <% if blog.name == 'Neha Ramaiya' then %>
                        <a href="/dlog/neha_ramaiya">
                        <% end %>
                        <% if blog.name == 'Neil Dantas' then %>
                          <a href="/dlog/neil_dantas">
                            <% end %>
                         <% if blog.name == 'Anusha Yadav' then %>
                          <a href="/dlog/anusha_yadav">
                          <% end %>
			   <% if blog.name == 'Vidyadhar Pande' then %>
	                     <a class="bloghyperlink" href="/dlog/vidyadhar_pande">
                          <%end%>
                          <%= image_tag blog.author_photo.url(:medium), :alt => blog.name %>
                          <h4>
                            <%= blog.blog_statement %>
                            <br/>
                            <span>
                              &#8212;<%= blog.name %>
                            </span>
                          </h4>
                        </a>
                        </div>
                      <% end %>
                    <% end %>
                    </div>

                    </div>
