
<div class="infiniteCarousel" id="scroll_bg">
  <div class="wrapper" id="triggers">
  <% if @blog.name == "Neil Dantas" then %>
    <ul>
      <li>
        <a href="/images/01_Neil/BEST786Tote.jpg"  alt="BEST 786 Bags - This is the NEW coLLection of Bags stitched in black denim & red coTTon canvas">
        <img src="/images/01_Neil/BEST786Tote.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/BUSkyaCTote1.jpg"  alt="BUS Kya - This is the NEW coLLection of Bags stitched in black denim & red coTTon canvas">
        <img src="/images/01_Neil/BUSkyaCTote1.jpg" />
        </a>
      </li>
       <li>
        <a href="/images/01_Neil/BSEXY-for-blog-01-117KB.jpg"  alt="BSExy -
'Be SEXY'Q] Why? A] This is about Our lesser Known Edge Which though efficient Caters more to sufficiency">
        <img src="/images/01_Neil/Thumbnails/BSEXY-for-blog-01-117KB_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/BUSkyaTee.jpg"  alt="BUS kya - A visual puzzle combining the image of the iconic bus and the word Kya.">
        <img src="/images/01_Neil/Thumbnails/BUSkyaTee_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/FORGET-superman-TRY-ME-160K.jpg"  alt="FORGET superman TRY ME
batman, spiderman, superman... Everybody loves Superheroes.
But, whose the real HERO? did you ask yourself? did you look into your mirror today?
And why you telling the world about other heroes that neither you nor they have ever seen for real? Lets forget them for once.
And show the world what powers WE possess ourselves.">
        <img src="/images/01_Neil/Thumbnails/FORGET-superman-TRY-ME-160K_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/Pure-NonVeg.jpg"  alt="Pure Non-Veg - This ones especially for all the Non Veg Lovers
who consider too much of Veg to be ghass-fooss.">
        <img src="/images/01_Neil/Thumbnails/Pure-NonVeg_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/RecycleBag02.jpg"  alt="Recycle concept Bag - 
This Bag concept is developed
using the RECYCLE logo in a maNNer
that it continues on the handles.
Making the meSSage quite direct & clear.">
        <img src="/images/01_Neil/RecycleBag02.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/RecycleBag03.jpg"  alt="Recycle concept Bag - 
This Bag concept is developed
using the RECYCLE logo in a maNNer
that it continues on the handles.
Making the meSSage quite direct & clear.">
        <img src="/images/01_Neil/RecycleBag03.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/Smoking-Kills-for-blog-copy.jpg"  alt="Smoking Kills - ILL HEALTH
VS
HEALTH need we say more?">
        <img src="/images/01_Neil/Thumbnails/Smoking-Kills-for-blog-copy_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/WONDERFUL-blog-100h.jpg"  alt="WONDERFUL - A tribute to the always 'WONDERFUL' Taj The tee reads ''We've made it WonderfuL''">
        <img src="/images/01_Neil/Thumbnails/WONDERFUL-blog-100h_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/iLoveMumbaiSneha.jpg"  alt="I LOVE MUMBAI -
This ones for aLL the mumbai lovers.
you can caLL it Bombay / mumbai
for me its BOMBAY
& mumbai is its nick name
so whatever it is, i love it">
        <img src="/images/01_Neil/Thumbnails/iLoveMumbaiSneha_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/iamtheBEST.jpg"  alt="i am the BEST - A perfect Bombaite / Mumbaite t-shirt">
        <img src="/images/01_Neil/Thumbnails/iamtheBEST_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/iinindiaAlan.jpg"  alt="i in india
bombay is for anyone">
        <img src="/images/01_Neil/Thumbnails/iinindiaAlan_thumb.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/BEST-1st-proto.jpg"  alt="The furniture is designed in the shape of a bus ticket which one gets in Mumbai’s local buses">
        <img src="/images/01_Neil/BEST-1st-proto.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/BEST-1st-prototype.jpg"  alt="The furniture is designed in the shape of a bus ticket which one gets in Mumbai’s local buses">
        <img src="/images/01_Neil/BEST-1st-prototype.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/01_Neil/BEST-ticket-colour-options.jpg"  alt="Aiming to talk about waste management through the same">
        <img src="/images/01_Neil/BEST-ticket-colour-options.jpg" />
        </a>
      </li>
    </ul> -->
    
 <% elsif @blog.name == "Neha Ramaiya" then %>
    <ul>
      <li>
        <a href="/images/02_Neha/neha_3.jpg"  alt="Terra-cotta coaster">
        <img src="/images/02_Neha/neha_3.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_15.jpg"  alt="Installed at Lower Parel, the exuberance of the yellow and the reflection of the mirrors with the addition of the flowers makes this piece a joy for the living">
        <img src="/images/02_Neha/neha_15.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_20.jpg"  alt="Coiled dhoop holder">
        <img src="/images/02_Neha/neha_20.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_4.jpg"  alt="Stoneware bowl embellished with flowers">
        <img src="/images/02_Neha/neha_4.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_5.jpg"  alt="Terra-cotta lamp">
        <img src="/images/02_Neha/neha_5.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_6.jpg"  alt="Lamp – Between the gaps">
        <img src="/images/02_Neha/neha_6.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_7.jpg"  alt="Fish mural">
        <img src="/images/02_Neha/neha_7.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_8.jpg"  alt="Handmade tiles">
        <img src="/images/02_Neha/neha_8.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_9.jpg"  alt="Ambience lighting">
        <img src="/images/02_Neha/neha_9.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_10.jpg"  alt="Coiled bedside lamp">
        <img src="/images/02_Neha/neha_10.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_11.jpg"  alt="Handmade tiles for a mural">
        <img src="/images/02_Neha/neha_11.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_12.jpg"  alt="Wall painting at Mahim – Make Mumbai beautiful by planting more flowers">
        <img src="/images/02_Neha/neha_12.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_13.jpg"  alt="Clay waiting to be decorated">
        <img src="/images/02_Neha/neha_13.jpg" />
        </a>
      </li>
     
      <li>
        <a href="/images/02_Neha/neha_16.jpg"  alt="Coiled wall hanging for plants">
        <img src="/images/02_Neha/neha_16.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_17.jpg"  alt="Where texture and colour play hide and seek">
        <img src="/images/02_Neha/neha_17.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_18.jpg"  alt="Raku fired magazine stand">
        <img src="/images/02_Neha/neha_18.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_19.jpg"  alt="Raku fired pen stand inspired b y tribal Africa">
        <img src="/images/02_Neha/neha_19.jpg" />
        </a>
      </li>
      
      <li>
        <a href="/images/02_Neha/neha_21.jpg"  alt="This piece depicted the sadness during the Bhuj earthquake – called ‘Under the Rubble’">
        <img src="/images/02_Neha/neha_21.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_1.jpg"  alt="Glazed t-light candle holders inspired by the form of paisley">
          <img src="/images/02_Neha/neha_1.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/02_Neha/neha_2.jpg"  alt="Glazed t-light inspired by swastika">
        <img src="/images/02_Neha/neha_2.jpg" />
        </a>
      </li>
    </ul>

    <% elsif @blog.name == "Rahul Mishra" then %>
    <ul>
      <li>
        <a href="/images/Rahul_Mishra/(800X1280)Rahul Mishra_AW 10.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/(800X1280)Rahul-Mishra_AW-10_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/1Rahul Mishra_AW 10.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/1Rahul-Mishra_AW-10_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 001.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-001_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 01.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-01_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 1.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-1_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 2.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-2_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 3.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-3_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 4.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-4_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 5.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-5_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 6.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-6_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 7.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-7_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 8.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-8_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 9.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-9_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/RahulMishra 10.jpg"  alt="THE BUTTERFLY EFFECT">
        <img src="/images/Rahul_Mishra/Thumbnails/RahulMishra-10_thumbnail.jpg" />
        </a>
      </li>
      <!-- Rajesh changes -->
      <li>
        <a href="/images/Rahul_Mishra/AW-9-10Reversible-1.jpg"  alt="‘Need is the creator of Invention’ is the context under which this collection was born. Under the current economic scenario where most consumers have become a lot more conscious of their purchase decisions, and demand a lot more ‘bang for their buck’, we have had to create a line keeping this in mind">
        <img src="/images/Rahul_Mishra/Thumbnails/AW-9-10Reversible-1_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/AW-9-10Reversible-Kerala_Benarasi(IAF_award).jpg"  alt="‘Need is the creator of Invention’ is the context under which this collection was born. Under the current economic scenario where most consumers have become a lot more conscious of their purchase decisions, and demand a lot more ‘bang for their buck’, we have had to create a line keeping this in mind">
        <img src="/images/Rahul_Mishra/Thumbnails/AW-9-10Reversible-Kerala_Benarasi(IAF_award)_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/AW9-10Reversible-Maheshwari_Benarasi(IAF_award)2.jpg"  alt="‘Need is the creator of Invention’ is the context under which this collection was born. Under the current economic scenario where most consumers have become a lot more conscious of their purchase decisions, and demand a lot more ‘bang for their buck’, we have had to create a line keeping this in mind">
        <img src="/images/Rahul_Mishra/Thumbnails/AW9-10Reversible-Maheshwari_Benarasi(IAF_award)2_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/Reversible-Kerala_1.jpg"  alt="The reversible jacket made out of traditional handloom textile from Kerala">
        <img src="/images/Rahul_Mishra/Thumbnails/Reversible-Kerala_1_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/Reversible-Kerala_2.jpg"  alt="The reversible dress made out of traditional handloom textile from Kerala">
        <img src="/images/Rahul_Mishra/Thumbnails/Reversible-Kerala_2_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/Reversible-Kerala_3.jpg"  alt="The reversible dress made out of traditional handloom textile from Kerala">
        <img src="/images/Rahul_Mishra/Thumbnails/Reversible-Kerala_3_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/SS10_KHADI-1.jpg"  alt="A multi-panelled natural dyed organic Khadi reversible overlap dress with black and white stripes">
        <img src="/images/Rahul_Mishra/Thumbnails/SS10_KHADI-1_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/SS10_KHADI-2.jpg"  alt="A white reversible organic Khadi pants with flared pleats">
        <img src="/images/Rahul_Mishra/Thumbnails/SS10_KHADI-2_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/SS10_KHADI-3.jpg"  alt="A natural dyed indigo organic Khadi off-shoulder wrap with white piping">
        <img src="/images/Rahul_Mishra/Thumbnails/SS10_KHADI-3_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/SS10_KHADI-4.jpg"  alt="A white shadow striped organic Khadi toga dress with black piping">
        <img src="/images/Rahul_Mishra/Thumbnails/SS10_KHADI-4_thumbnail.jpg" />
        </a>
      </li>
      <li>
        <a href="/images/Rahul_Mishra/SS10_ORGANZA-4.jpg"  alt="A black organza reversible jacket with white degrade quilting">
        <img src="/images/Rahul_Mishra/Thumbnails/SS10_ORGANZA-4_thumbnail.jpg" />
        </a>
      </li>
      


      <!-- Rajesh changes -->


    </ul>
   
   <% else %>
     <ul>
        <% for attachment in @blog.assets do %>
          <% if !attachment.id.nil? %>
        <li>
        <a href="<%= attachment.url(:large) %>">
          <%= image_tag attachment.url(:medium)%>
        </a>
        </li>
        
          <% end %>

        <% end %>
        </ul>
   <% end %>
    
  </div>
</div>

<!-- overlay element -->
<div class="simple_overlay" id="gallery">
<!-- "previous image" action -->
<a class="prev">prev</a>
<!-- "next image" action -->
<a class="next">next</a>
<!-- image information -->
<div class="info"></div>
<!-- load indicator (animated gif) -->
<img class="progress" src="../images/loading.gif" />
</div>

<script>
  $(function() {
    // select the thumbnails and make them trigger our overlay
    $("#triggers a").overlay({
            // each trigger uses the same overlay with the id "gallery"
            target: '#gallery',
            // optional exposing effect
            expose: '#666'
    // let the gallery plugin do its magic!
    }).gallery({
            // the plugin accepts its own set of configuration options
            speed: 800
    });
    });
</script>