<%= stylesheet_link_tag 'about'%>
<div id="wrap">
  <div id="main">

 <div id="main_inner">
    <h1> about </h1>
    <p>DezineConnect celebrates design from India. It connects creative people to the
world. DezineConnect aims to showcase designers, design buyers, and design support
people.</p>
      <p>
        DezineConnect is a part of <a href="http://www.kern-comm.com">Kern</a>, India's leading design research, user research,
and usability consulting company.</p>
      
  </div>
</div>
</div>
