<div id="interview_video_works">
          <a  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12016595&autoplay=1">
            <img src="../images/03_raj/Bingo - DJ.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045744">
            <img src="../images/03_raj/Bingo-Caveman.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045852">
            <img src="../images/03_raj/Bingo-International.jpg"/>
          </a>
          <a class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045889">
            <img src="../images/03_raj/Bingo-Parade.jpg"/>
          </a>

          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046015">
            <img src="../images/03_raj/Bingo-Trampoline.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046229">
            <img src="../images/03_raj/BOB-ATM.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046454">
            <img src="../images/03_raj/BOB-Car Loan.jpg"/>
          </a>
          <a class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046504">
            <img src="../images/03_raj/BOB-Home Loan.jpg"/>
          </a>

          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046560">
            <img src="../images/03_raj/BOB-Income Tax.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046612">
            <img src="../images/03_raj/BOB-Insurance.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046670">
            <img src="../images/03_raj/BOB-Launch.jpg"/>
          </a>
          <a class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046068">
            <img src="../images/03_raj/Usha.jpg"/>
          </a>
           <div class="clear"></div>
        </div>