<%= stylesheet_link_tag 'about' %>
<div id="wrap">
  <div id="main">

 <div id="main_inner">
    <h1> contact </h1>
    <p>Send us bricks or bouquets - we would love to hear from you. If you want to suggest a great designer to feature here,
      we would love you even more. Contact us at <a href="mailto:feedback@dezineconnect.com">feedback@dezineconnect.com</a></p>
     
  </div>
</div>
</div>
