<%= stylesheet_link_tag 'dlog' %>
<div id="wrap"><!--wrap start-->
  <div id="main"><!--main start-->
    <div id="main_inner"><!--main_inner start-->
      <h1> legal </h1>
      <p>  This page states the Terms under which you may use our site. Please read it carefully. Terms may be updated and revised by us from time to time, so please visit this page periodically to review them.
      <br/>By using this site, you signify that you agree with these Terms of Use. If you do not accept the following terms and conditions, do not use this Web site or our service.
      </p>
      <p>
        <strong>Terminology</strong><br/>
        The following terms have the following meanings: "You" "your" and "user" refer to all individuals accessing this site. "We," "us" and "our" refer to DezineConnect, a part of Kern Communications Pvt. Ltd., with its registered office at 210 B, Swapnalok Complex, Sarojini Devi Road, Secunderabad, Andhra Pradesh 500 003, India.
      </p>
      <p>
        <strong>Eligibility and Accounts</strong><br/>
        By registering for a user account, you represent and warrant that you are eligible for an account asset forth in this agreement and that the information you include as part of the registration process is accurate and not deliberately untrue.
      </p>
      <p>
        In consideration of your use of this service, you agree to provide true, accurate, current and complete information about yourself on our registration form; maintain and update your data to keep it true, accurate, current and complete. (If you provide any information that is untrue, inaccurate, not current or incomplete, or DezineConnect has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of our service.)
      </p>
      <p>
        Accounts may be obtained and used only by independent professionals who are seeking legal employment or career resources; and/or individuals with the right and authority to act on behalf of an organization for the purposes of locating independent professionals for available positions. On obtaining an account, you'll have access to the services and the functionality that we may establish and maintain at our sole discretion. You agree to use your account for your personal use only and not to redistribute any of the content on this site.
      </p>
      <p>
        We expect all of our users to conduct themselves in a courteous, professional manner at all times. Personal attacks, flaming and other forms of discourteous and unprofessional online conduct are grounds, at our discretion, for the immediate suspension or termination of the offending party's account.
      </p>
      <p>
        <strong>User Content</strong><br/>
        You are solely responsible for your communications and the consequences of their posting and for the content and information you provide, distribute, post, include, link to, or otherwise upload to our site. You also agree that we are only acting as a passive conduit for the online distribution and publication of your content. However, although we are not obligated, we reserve the right to take any action with respect to your content if we believe that it may create a liability for us.
      </p>
      <dl>
        <dt>
          You must not, and by using DezineConnect you agree not to:
        </dt><br/>
        <dd>
          a) post material that is copyrighted, unless you are the copyright owner or have the permission of the copyright owner to post it
        </dd><br/>
        <dd>
          b) post material that reveals trade secrets, unless you own them or have the permission of the owner
        </dd><br/>
        <dd>
          c) post material that infringes on any other intellectual property rights of others or on the privacy or publicity rights of others
        </dd><br/>
        <dd>
          d) post material that is obscene, defamatory, threatening, harassing, abusive, hateful, or embarrassing to another user or any other person or entity
        </dd><br/>
        <dd>
          e) post sexually-explicit images or statements
        </dd><br/>
        <dd>
          f) post advertisements or solicitations of business, chain letters or pyramid schemes
        </dd><br/>
        <dd>
          g) post material that contains viruses or other computer programming routines or engines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information.
        </dd><br/>
        <dd>
          h) impersonate another person
        </dd>
      </dl>
      <p>
        <strong>Charging for Services</strong><br/>
        We may add, delete or change some or all of the services provided for free as part of the account at any time. You will be notified of any charges and given the option to continue to use or to terminate your account. You will be responsible for all charges for using these additional services if you choose to continue use.
      </p>
      <p>
        <strong>Security Rules</strong><br/>
        Users are prohibited from violating or attempting to violate the security of DezineConnect, including attempts to:
      </p>
      <dl>
        <dd>
          a) access data not intended for them or logging into a server or account which the user is not authorized to access
        </dd><br/>
        <dd>
          b) probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization
        </dd><br/>
        <dd>
          c) interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to the site, overloading, flooding, spamming, mail-bombing or crashing
        </dd><br/>
        <dd>
          d) send unsolicited e-mail, including promotions and/or advertising of products or services
        </dd><br/>
        <dd>
          e) forego any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting
        </dd><br/>
        <dd>
          f) use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search this site other than the search engine and search agents available from DezineConnect and generally available third party Web browsers
        </dd><br/>
        <dd>
          g) decipher, disassemble or reverse engineer any of the software comprising or making up any part of this site
        </dd><br/>
        <dd>
          h) aggregate, copy, duplicate, or frame to in any manner any of the materials or information available from DezineConnect
        </dd><br/>
        <dd>
          i) use any device, software or routine to interfere or attempt to interfere with the proper working of this Web Site or any activity being conducted on it, including any action which imposes an unreasonable or disproportionately large load on the site's infrastructure
        </dd><br/>
      </dl>
      <p>
        Violations of system or network security may result in civil or criminal liability according to the IT laws of India. DezineConnect will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
      </p>
      <p>
        <strong>Liability for Third-Party Content</strong><br/>
        This site provides access to third party content. You understand and agree that we're only acting as a conduit and that we have no liability related to the third-party, whether arising under the laws of copyright, libel, privacy or obscenity.
      </p>
      <p>
        DezineConnect is only a venue for employers to post job opportunities and candidates to post portfolios. DezineConnect is not to be considered an employer with respect to the use of our site and shall not be responsible for any employment decisions, for whatever reason made by any entity posting jobs on our site.
      </p>
      <p>
        We do not screen or censor the listings offered and are not involved in the actual transaction between employers and candidates. We are under no legal obligation to, and generally do not, control the information provided by other users which is made available through the Web site. As a result, we have no control over the quality, safety or legality of the jobs or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings.
      </p>
      <p>
        We also do not make any warranty, express or implied, regarding any job posting, any individual or organization providing a posting or for any profiles or resumes. You agree that any agreement between you and any individual or organization be based solely on the terms negotiated by them and you and shall be done at your own risk.
      </p>
      <p>
        DezineConnect does not represent or guarantee the truthfulness, accuracy or reliability of communications posted by users or endorse any opinions expressed by them. You acknowledge that any reliance on material posted by other users will be at your own risk. DezineConnect has no obligation to screen communications or information in advance and is not responsible for monitoring material posted by users. We expect that you will use caution and common sense when using this site and your account.
      </p>
      <p>
        If notified by a user of communications which allegedly do not conform to our conditions of use, we may investigate the allegation and determine in good faith and at our sole discretion whether to remove or request the removal of the communication.
      </p>
      <p>
        Material may contain inaccuracies or typographical errors. We make no representations about the accuracy, reliability, completeness, or timeliness of the Web site or the material on it. The use of DezineConnect and the material is at your own risk.
      </p>
      <p>
        Note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, foreign nationals, underage persons or people acting under false pretenses. Because user authentication on the Internet is difficult, DezineConnect cannot and does not confirm that each user is who they claim to be. By its very nature, other people's information may be offensive, harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. You assume all risks associated with dealing with other users with whom you come in contact through this site; we expect that you will use caution and common sense when using it.
      </p>
      <p>
        Because we cannot be involved in user-to-user dealings or control the behavior of participants of DezineConnect in the event that you have a dispute with one or more users, you release us from claims, demands and damages (actual and consequential, direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.
      </p>
      <p>
        <strong>Registration/Password</strong><br/>
        You will create a user name and password during the registration process. You are responsible for maintaining the confidentiality of your user name and password and the uses of your registration, whether or not it is authorized by you. You agree to insure that you exit from your account at the end of each session and to immediately notify DezineConnect of any unauthorized use of your user name or password.
      </p>
      <p>
        <strong>Links</strong><br/>
        We grant you full permission to link to our site using a text link, but not to frame our site or use any of trademarks or logos without our prior permission. However, we do not pay referral fees for such links.
      </p>
      <p>
        We may from time to time provide links to third party sites or resources; these links are provided solely as a convenience to you and not as an endorsement by us. Because DezineConnect has no control over such sites and resources, you acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable for any content, advertising, products or other materials on or available from them.
      </p>
      <p>
        If you decide to access linked third party Web sites, you do so at your own risk.
      </p>
      <p>
        <strong>Limitation of Liability</strong><br/>
        Users expressly understand and agree that DezineConnect shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if DezineConnect has been advised of the possibility of such damages), resulting from:
      </p>

      <dl>
        <dd>
          a) the use or the inability to use the service
        </dd><br/>
        <dd>
          b) unauthorized access to or alteration of your transmissions or data
        </dd><br/>
        <dd>
          c) statements or conduct of any third party on the service
        </dd><br/>
        <dd>
          d) any other matter relating to the service
        </dd>
      </dl>

      <p>
        You agree to indemnify and hold us, our customers and business partners harmless from all damages and costs, including reasonable attorneys' fees arising out of or related to your breach of this agreement.
      </p>
      <p>
        <strong>Indemnity</strong><br/>
        You agree to indemnify and hold DezineConnect, and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of any content that you submit, post, transmit or make available through our service, your use of it, your connection to it, your violation of the Terms of Use or your violation of any rights of another person or company.
      </p>
      <p>
        <strong>Copyright</strong><br/>
        You should assume that all content, such as text, graphics, images, logos, buttons, icons, trademarks and other material and their compilation (meaning the collection, arrangement and assembly) are the exclusive intellectual property of DezineConnect and are protected under both India and foreign copyright, trademark and other laws. The code that DezineConnect created to generate its pages is also protected by our copyright and shall not be copied or adapted. All reproduction in whole or in part of the texts or illustrations, by any means whatsoever and without prior consent, is prohibited.
      </p>
      <p>
        You may print a single copy of site content for your personal use, but must retain all copyright, trademark, service-mark and other proprietary notices contained in the original material on any copy you make. You may not sell or modify it, or reproduce, display, publicly perform, distribute, or otherwise use it in any way for any public or commercial purpose.
      </p>
      <p>
        Unauthorized use of any of the above may violate copyright, trademark, and other laws.
      </p>
      <p>
        <strong>Notification of Copyright Infringement</strong><br/>
        DezineConnect will, in appropriate circumstances, terminate the accounts of users who infringe the intellectual property rights of others. If you believe that your work has been used or copied in away that constitutes copyright infringement and such infringement is occurring on this site or on sites linked to this site, please provide us with notice containing:
      </p>
      <dl>
        <dd>
          a) a physical or electronic signature of the person authorized to act on behalf of the owner of the copyright interest that is alleged to have been infringed
        </dd><br/>
        <dd>
          b) a description of the copyrighted work or works that you claim have been infringed and identification of what material in such work(s) is claimed to be infringing and which you request to be removed or access to which is to be disabled
        </dd><br/>
        <dd>
          c) a description of where the material that you claim is infringing is located on our site
        </dd><br/>
        <dd>
          d) information sufficient to permit DezineConnect to contact you, such as your physical address, telephone number and e-mail address
        </dd><br/>
        <dd>
          e) a statement by you that you have a good faith belief that the use of the material identified in your notice, in the manner complained of, is not authorized by the copyright owner, its agent or the law
        </dd><br/>
        <dd>
          f) a statement by you that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner's behalf.
        </dd>
      </dl>
      By mail:<br/>
      DezineConnect<br/>
      Kern Communications Pvt. Ltd.<br/>
      210 B, Swapnalok Complex<br/>
      Sarojini Devi Road, Secunderabad<br/>
      Andhra Pradesh 500 003, India<br/>
      By email: info@kern-comm.com<br/>

      <p>
        <strong>Termination</strong><br/>
        You agree that DezineConnect may terminate your password, account or use of our service immediately, without prior notice, and remove and discard any content within our service, if we believe that you have violated or acted inconsistently with the letter or spirit of the Terms of Use; if you infringe third party intellectual property rights; for lack of use; or if we are unable to authenticate any information that you have provided to us. Further, you agree that DezineConnect shall not be liable to you or any third-party for any termination of your access to our service.
      </p>
      <p>
        Alternatively, we may choose to remove some or all of your content or make it private. DezineConnect may also immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or our service. Following the termination, we may remove some or all of your content from our servers or elect to retain it, at our sole option.
      </p>
      <p>
        Any payment obligations incurred prior to the termination of this agreement, shall survive such termination. In no event shall any refunds be paid.
      </p>
      <p>
        <strong>General</strong><br/>
        The Terms and Conditions of Use and the relationship between you and DezineConnect shall be governed by the laws of the Republic of India without regard to its conflict of law provisions. You and DezineConnect agree to submit to the personal and exclusive jurisdiction of the courts located in Hyderabad, India.
      </p>
      <p>
        These Terms of Use constitute the entire agreement between you and DezineConnect and govern your use of the service, superceding any prior agreements between you and us. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third-party content or third-party software. You and DezineConnect are independent contractors, and no agency, partnership, joint venture, employee/employer or franchisor/franchisee relationship is intended or created by these Terms.
      </p>
      <p>
        Our failure to act with respect to a breach by you does not waive our right to act with respect to subsequent or similar breaches. We shall not be liable for any delay or failure to perform resulting directly or indirectly from any causes beyond our reasonable control. If any provision of the Terms and Conditions of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect.
      </p>
      <p>
        Except as explicitly stated otherwise, any notices shall be given by certified mail, postage prepaid and return receipt requested, to the address provided on this page or to the address you provide to us during the registration process. Notice shall be deemed given three days after the date of any mailing.
      </p>
      <p>
        You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the service or the Terms of Use must be filed within one year after such claim or cause of action arose or be forever barred.
      </p>
      <p>
        <strong>Liability For Our Server</strong><br/>
        The company does not warrant that the site will operate error-free or that the site and its server are free of computer viruses or other harmful mechanisms. The site and material are provided on an "as is" basis without any warranties of any kind whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.
      </p>
      <p>
        We do not guarantee continuous or uninterrupted access to your account and make no warranty as to the operation, functionality, or availability of the site, or that the site or materials or content provided will be error-free, or that defects will be corrected. If your use of DezineConnect results in the need for servicing or replacing equipment or data, DezineConnect is not responsible for those costs.
      </p>
      <p>
        Any material downloaded or otherwise obtained through the use of the service is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.
      </p>
      <p>
        <strong>Member Conduct</strong><br/>
        You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials ("content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from which such Content originated.
      </p>
      <p>
        This means that you, and not DezineConnect, are entirely responsible for all content that you upload, post, e-mail, transmit or otherwise make available via our site.
      </p>
      <p>
        You agree to not use our site to:
      </p>
      <dl>
        <dd>
          a) upload, post, e-mail, transmit or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable
        </dd><br/>
        <dd>
          b) harm minors in any way
        </dd><br/>
        <dd>
          c) impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity
        </dd><br/>
        <dd>
          d) forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through this site
        </dd><br/>
        <dd>
          e) upload, post, email, transmit or otherwise make available any content that you don't have aright to make available under any law or contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements)
        </dd><br/>
        <dd>
          f) upload, post, email, transmit or otherwise make available any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party
        </dd><br/>
        <dd>
          g) upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation
        </dd><br/>
        <dd>
          h) upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment
        </dd><br/>
        <dd>
          i) disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the service are able to type, or otherwise act in a manner that negatively affects other users' abilities to engage in real time exchanges
        </dd><br/>
        <dd>
          j) interfere with or disrupt the service or servers or networks connected to the service, or disobey any requirements, procedures, policies or regulations of networks connected to it
        </dd><br/>
        <dd>
          k) intentionally or unintentionally violate any applicable local, state, national or international law
        </dd>
        <dd>
          l) "stalk" or otherwise harass another; or collect or store personal data about other users
        </dd>
      </dl>
      <br/><br/>

      <strong>Warranty</strong><br/>
      DezineConnect makes no warranty that:<br/>
      <dl>
        <dd>
          a) the service will meet your requirements
        </dd><br/>
        <dd>
          b) the service will be uninterrupted, timely, secure, or error-free
        </dd><br/>
        <dd>
          c) the results that may be obtained from the use of the service will be accurate or reliable
        </dd><br/>
        <dd>
          d) the quality of any products, services, information, or other Material purchased or obtained by you through the service will meet your expectations
        </dd>
      </dl>

      <p>
        Modifications to Agreement or Service
        DezineConnect reserves the right at any time to modify or discontinue, temporarily or permanently, all or any part of the service with or without notice. You also agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of our service.
      </p>
      <p>
        In addition, we may amend this agreement by posting the amended version on the site and making it available via a link from our home page. You agree that any continued use of this site after such amendment shall signify your acceptance of any such amendment. Otherwise, this agreement may not be amended except in a writing signed by both parties.
      </p>

    </div><!--main_inner start-->
  </div><!--main start-->
</div><!--wrap start-->
