
<div id="footer">&copy; Kern Communications Pvt Ltd.
  
  <a href="http://www.facebook.com/pages/Kern-Usability-Innovation/170314145302?ref=ts" target="_blank"><img src="/images/facebook_forfooter_inactive.gif"></a>
  <a href="http://www.linkedin.com/companies/234990/Kern+Communications+Pvt+Ltd?trk=pro_other_cmpy" target="_blank"><img src="/images/linkedin_forfooter_inactive.gif"></a>
  <a href="http://twitter.com/ripul" target="_blank"><img src="/images/twitter_forfooter_inactive.gif"></a>

</div>

</body>
</html>
