<%= stylesheet_link_tag 'admin.css'  %>
<div id="admin_panel_main">
  <h1>Images
  <div id="portfolio_edit_top">
    <div id="account_settings_btn"><a href="/admin/portfolios"></a></div>
    <div id="profile_information_btn"></div>
    <div id="portfolio_btn"><a href="/admin/design_directories"></a></div>
  </div>
  </h1>
</div>

<% unless @images.nil? then %>
   <% @images.each do | image | %>
      ID :<%= image.id %><br/>
   <% end %>
<% end %>

    <table id="admin_panel_table" cellpadding="3" cellspacing="0" align="center">
    <tbody>
    <thead>
    <th class="admin_panel_thead" width="40px">ID</th>
    <th class="admin_panel_thead">act</th>
    <th class="admin_panel_thead">name</th>
    <th class="admin_panel_thead">email</th>
    <th class="admin_panel_thead">spe</th>
    <th class="admin_panel_thead">add</th>
    <th class="admin_panel_thead">cit</th>
    <th class="admin_panel_thead">con</th>
    <th class="admin_panel_thead">pp</th>
    <th class="admin_panel_thead">#images</th>
    <th class="admin_panel_thead">time</th>
    <th class="admin_panel_thead">delete<br/>account</th>
    </thead>
    </tbody>
    <tr>
      <td></td>
    </tr>
</table>
