<%= stylesheet_link_tag 'portfolio_account_settings' %>
<%= javascript_include_tag 'show_password' %>
<%= javascript_include_tag 'countries2' %>


<script type="text/javascript">
function validate()
{
    if((document.getElementById('specialization').value=="")||(document.getElementById('address').value=="")||(document.getElementById('city').value=="")||(document.getElementById('country').value=="")||(document.getElementById('state').value=="0")) {

        if(document.getElementById('address').value=="") {
          document.getElementById('address').style.border="1px red solid";
          document.getElementById('address').style.background="#ffefef";
          document.getElementById('error_address').style.display="block";
          }
          if(document.getElementById('city').value=="") {
          document.getElementById('city').style.border="1px red solid";
          document.getElementById('city').style.background="#ffefef";
          document.getElementById('error_city').style.display="block";
          }
        if(document.getElementById('state').value=="0") {
           document.getElementById('state').style.border="1px red solid";
           document.getElementById('state').style.background="#ffefef";
           document.getElementById('error_state').style.display="block";
          }
           if(document.getElementById('country').value=="") {
           document.getElementById('country').style.border="1px red solid";
           document.getElementById('country').style.background="#ffefef";
           document.getElementById('error_country').style.display="block";
          }
           if(document.getElementById('specialization').value=="") {
          document.getElementById('specialization').style.border="1px red solid";
          document.getElementById('specialization').style.background="#ffefef";
          document.getElementById('error_specialization').style.display="block";
          return false;
          }
       return false;
    }
    else {
         return true;
    }
}

function validation(ctl,ct2) {
    if((document.getElementById(ctl).value=="")||(document.getElementById(ctl).value=="0")) {
       document.getElementById(ctl).style.border="1px red solid";
       document.getElementById(ctl).style.background="#ffefef";
       document.getElementById(ct2).style.display="block";
       return false;
       }
    else {
       document.getElementById(ctl).style.border="1px #ccc solid";
       document.getElementById(ctl).style.background="#fff";
       document.getElementById(ct2).style.display="none";
       return true;
       }
}

function echeck(str) {
		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   //alert("Invalid E-mail ID")
		   return false
		}
		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   //alert("Invalid E-mail ID")
		   return false
		}
		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    //alert("Invalid E-mail ID")
		    return false
		}
		 if (str.indexOf(at,(lat+1))!=-1){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.indexOf(dot,(lat+2))==-1){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.indexOf(" ")!=-1){
		    //alert("Invalid E-mail ID")
		    return false
		 }
 		 return true
	}

</script>

<div id="wrap"><!-- 960 px wrapper -->
  <div id="main"><!-- main div -->
    <div id="main_inner"><!-- main div-->

      <div id="title">
          <h1 class="hd_left_text">account settings</h1>
      </div>
      <h4>profile information</h4>

      <fieldset>
        <form action="/portfolio/create_portfolio" method="post" onsubmit="javascript:return validate();" enctype="multipart/form-data">
          <div id="registr_form">
            <input name="authenticity_token" type="hidden" value="73001f8e8e62be38ac7fd4a9efb899d8282acccb"/>
          </div>
          <label for="FirstName">specialization<span class="portfolio_mandatory_fields">*</span></label>
          <input type="text" name="user[first_name]" size="40"  maxlength="45" id="specialization" onblur="validation('specialization','error_specialization')"/>
          <div id="error_specialization" class="error_msg" >
            please enter specialization
          </div>

          <label for="LastName">secondary specializations</label>
          <input type="text" name="user[last_name]" size="40"  maxlength="45"/>

          <div id="account_setting_textfield">
            <input type="text" name="user[first_name]" size="40"  maxlength="45"/>
          </div>

          <label for="Password">experience</label><br/>
          <select>
            <option value="0">year</option>
            <option value="1">fresher</option>
            <option value="2">0</option>
            <option value="3">1</option>
            <option value="3">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
            <option value="3">11</option>
            <option value="3">13</option>
            <option value="3">14</option>
            <option value="3">15</option>
            <option value="3">16</option>
            <option value="3">17</option>
            <option value="3">18</option>
            <option value="3">19</option>
            <option value="3">20</option>
            <option value="3">21</option>
            <option value="3">22</option>
            <option value="3">23</option>
            <option value="3">24</option>
            <option value="3">25+</option>

          </select>
          <select>
            <option value="0">month</option>
            <option value="2">0</option>
            <option value="3">1</option>
            <option value="3">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
            <option value="3">11</option>
          </select>

          <label for="EmailId">professional level</label><br/>
          <input type="experience" name="user[password]" id="password" size="40"  maxlength="45"/>

          <label for="Password">education</label>
          <input type="education" name="user[password]" id="password" size="40"  maxlength="45"/>

          <label for="Password">awards won</label>
          <div class="clear"></div>
          <input type="education" name="user[password]" id="awards_won1" size="40"  maxlength="45"/>
          <div>
            <span>
              <a href="#" onclick="AddAwardsWonTextfield();">
              <img src="../images/list-add.png"/>
              <dl>(add upto 5 awards)</dl>
              </a>
            </span>
          </div>
          <input type="education" name="user[password]" id="awards_won2" size="40"  maxlength="45"/>
          <input type="education" name="user[password]" id="awards_won3" size="40"  maxlength="45"/>
          <input type="education" name="user[password]" id="awards_won4" size="40"  maxlength="45"/>
          <input type="education" name="user[password]" id="awards_won5" size="40"  maxlength="45"/>

          <div class="clear"></div>
          <h4>availability</h4>
            <div id="accountsetting_checkboxs">
              <div>
                <input type="checkbox" name="portfolio_availbility" />
                <span>Permanent</span>
              </div>
              <div>
                <input type="checkbox" name="portfolio_availbility"/>
                <span>Part time</span>
              </div>
              <div>
                <input type="checkbox" name="portfolio_availbility"/>
                <span>Freelance</span>
              </div>
              <div>
                <input type="checkbox" name="portfolio_availbility"/>
                <span>Diploma project / Internship</span>
              </div>
            </div>

           <!--country and state dropdown-->
          <div id="accountsetting_contactinfo">

            <h4>contact information</h4>

            <label for="FirstName">address<span class="portfolio_mandatory_fields">*</span></label>
            <input type="text" name="user[first_name]" size="40"  maxlength="45" id="address" onblur="validation('address','error_address')"/>
            <div id="error_address" class="error_msg" >
            please provide your address
            </div>

            <label for="FirstName">city<span class="portfolio_mandatory_fields">*</span></label>
            <input type="text" name="user[first_name]" size="40"  maxlength="45" id="city" onblur="validation('city','error_city')"/>
            <div id="error_city" class="error_msg">
            please provide your city
            </div>

            <!--contry & state list-->


            <br />


            <label for="FirstName">state<span class="portfolio_mandatory_fields">*</span></label><br/>
            <select name ="state" id ="state" onblur="validation('state','error_state')">
              <option value="0">select state</option>
            </select><br/>
            <div id="error_state" class="error_msg" >
            please provide your state
            </div>

            <label for="FirstName">country<span class="portfolio_mandatory_fields">*</span></label><br/>
            <select onchange="print_state('state',this.selectedIndex);" id="country" name ="country" onblur="validation('country','error_country')">

            </select>
            <div id="error_country" class="error_msg" >
            please provide your country
            </div>


            <script language="javascript">
            print_country("country");
            </script>

            <script type="text/javascript">date_populate("date", "month", "year");</script>
            <!--contry & state list end-->

            <%#*<div>%>
              <%#*<label>select Country</label>%>
              <%#*<select onchange="print_state('state',this.selectedIndex);" id="country" name ="country"></select>%>
              <%#*<br />%>
              <%#*<label>city/district/state</label>%>
              <%#*<select name ="state" id ="state"></select>%>
              <%#*<script language="javascript">print_country("country");</script>%>
              <%#*<script type="text/javascript">date_populate("date", "month", "year");</script>%>
            <%#*</div>%>


            <!--<input type="text" name="user[first_name]" size="40"  maxlength="45" id="state" onblur="validation('state','error_state')"/>
            <input type="text" name="user[first_name]" size="40"  maxlength="45" id="country" onblur="validation('country','error_country')"/>-->


          </div>

          <div id="accountsetting_socialinfo">

            <h4>social information</h4>
            <div>
              <div>
                <img src="../images/facebook_32.png" />
                <input type="text" name="user[first_name]" size="34"  maxlength="45"/><br/>
              </div>
              <div>
                <img src="../images/twitter_32.png" />
                <input type="text" name="user[first_name]" size="34"  maxlength="45"/><br/>
              </div>
              <div>
                <img src="../images/linkedin_32.png" />
                <input type="text" name="user[first_name]" size="34"  maxlength="45"/><br/>
              </div>
            </div>

          </div>
          <div class="break_border"></div>

         <div id="portfolio_paid_features"><!--portfolio_paid_features start-->

          <div id="portfolio_uniqueurl">
          <h4>custom URL for your portfolio</h4>
          <div>http://www.dezineconnect.com/</div>
          <input type="text" name="user[first_name]" size="34"  maxlength="45"/>
          </div>

          <div class="break_border"></div>

          <div id="accontsetting_radiobtns">
            <h4>privacy settings</h4>
            <div>
              <input type="radio" name="portfolio_privacy" checked/>
              make my portfolio publicly accessible
            </div>
            <div>
              <input type="radio" name="portfolio_privacy"/>
              keep my portfolio accessible only via my personal URL
            </div>
            <div>
              <input type="radio" name="portfolio_privacy"/>
              hide my portfolio from everyone but me
            </div>
          </div>
        <div class="break_border"></div>
          <div id="account_settings_theme">
            <h4>themes</h4>
            <div id="account_settings_theme1">
              <input type="radio" name="portfolio_theams" checked/>
            </div>

            <div id="account_settings_theme2">
              <input type="radio" name="portfolio_theams"/>
            </div>

            <div id="account_settings_theme3">
              <input type="radio" name="portfolio_theams"/>
            </div>
          </div>

         </div><!--portfolio_paid_features end-->

          <div id="register_bottom_text">
            <label>
              <button type="submit" class="btn_bg_01" >next</button>
            </label>
          </div>

        </form>
      </fieldset>

    </div><!-- main inner ends -->
  </div> <!-- main ends -->

 <div id="sidebar">

 <div id="portfolio_sider">

  <div class="portfolio_regsteps_selected_after">
    <div class="portfolio_reg_steps_in">
      step 1: register
    </div>
  </div>
  <div class="portfolio_reg_steps_select">
    <div class="portfolio_reg_steps_in_select">
      step 2: account settings
    </div>
  </div>
  <div class="portfolio_reg_steps">
    <div class="portfolio_reg_steps_in">
      step 3: portfolio
    </div>
  </div>
  <div class="portfolio_reg_steps">
    <div class="portfolio_reg_steps_in">
      step 4: payment
    </div>
  </div>

  </div>
</div>

</div><!-- 960 px wrapper ends -->

<h1>Editing portfolio</h1>
