<%#= stylesheet_link_tag 'job_index' %>
<%= stylesheet_link_tag 'setpassword' %>

<div id="wrap">

  <div id="job_company"><h1>Your <a href="#"><span>Graphics Designer</span></a> job is successfully published</h1></div>
  <div id="main">
    <div id="description"><h2>Manage your jobs by registering on DezineConnect</h2></div>
    <form action="/jobs/create_after_login" class="new_job" id="new_job" method="post" name="Qjobs" onsubmit="javascript:return validate('new_job_else');">


      <label>Username</label>
      <h3>rajkishan.m@gmail.com</h3>
      <label>Name<span class="required_field">*</span></label>
      <input type="text" name="job[job_title]" id="job_title" maxlength="29"  onblur="validation('job_title','error_job_title')"/>
      <div id="error_job_title" class="error_msg" >
        please provide your name
      </div>
      <label>Password<span class="required_field">*</span></label>
      <input type="text" name="job[company_name]" id="password"  maxlength="28" onblur="validation('company_name','error_company_name')"/>
      <div id="error_company_name" class="error_msg" >
        please provide password
      </div>
       <label>Company Name<span class="required_field">*</span></label>
      <input type="text" name="job[company_name]" id="company_name"  maxlength="28" onblur="validation('company_name','error_company_name')"/>
      <div id="error_company_name" class="error_msg" >
        please provide password
      </div>
      <label><input id ="show_password"type ="checkbox"/> show password</label>
      <div class="clear"></div>
      <!-- Form Submit button -->
      <input type="submit" value="" id="QJobPost_btn"/>
      <div class="error_msg" id="error_required" style="margin: 23px 0px 0px -80px;">
        Please fill out the required data above
      </div>
    </form>
  </div>

  <div id="sidebar">
    <h2>Managing Jobs on DesignConnect</h2>
    <span>Number of people that viewed the job</span>
    <span>Number of people that applied for the job</span>
    <span>View their Portfolios and Resumes</span>
    <span>Compare applicants</span>
    <span>Track job status</span>
    <span>Edit job details</span>
    <span>Remove job post when its filled</span>
  </div>

</div>