<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
<div id="main"><!-- main -->
<div id="main_inner"><!-- main inner -->
<h1>your job posting is almost complete</h1>
<h4>DezineConnect Team has mailed you an activation link.</h4>
Please check your email <b><%=  @job.how_to_apply_email %></b>. and click on the Activation link to publish the job.
<h4></h4>
</div><!-- main inner -->
</div><!-- main -->
</div><!-- wrap -->



  