/* layout */
body {
	margin: 0;
	padding: 0;
	font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
	font-size: 12px;
	}

#header {
	width: 960px;
	margin: 0px auto;

	}

#header_mid {
	width: 640px;
	height: 45px;
	margin: 0px;
	background: url('../images/logo.jpg') no-repeat 0px 10px;
	position: relative;
	}

#job_count {
	/* background: blue; */
	font-family: Georgia;
	margin: 10px 0px 0px 0px;
	text-align: right;
	color: #cccccc;
	width: 70px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px
	}

#header_links {
	width: 320px;
	height: 30px;
	text-align: right;
	color: blue;
	}


#spacer_bottom {
	width: 960px;
	margin: 0 auto;
	height: 15px;
	clear: both;
	}

#wrap {
	width: 960px;
	margin:0 auto;
	}

#main {
	float: left;
	width: 630px;
	padding: 20px 0px 0px 0px;
	}

#main_search {
	float: left;
	width: 630px;
	padding: 20px;
	background-color: #cccccc;
	border: 1px solid #cccccc;
	}

#gutter {
	float: left;
	width: 20px;
	}

#sidebar {
	float: right;
	width: 270px;
	margin: 0;
	padding: 20px;
	}

#footer {
	clear: both;
	margin: 0 auto;
	width: 940px;
	padding: 0px 20px;
	}

#footer a {
	text-decoration: underline;
	color: blue;
	}

/* Header Elements */
#header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

#header li {
	display: inline;
	padding: 0;
	margin: 0px 20px 0px 0px;
	color: white;
	}

/*
#header a:link, a:visited {
	text-decoration: none;
	color: white;
	}
	*/

/* Text Elements */
H1 {
	font-size: 24px;
	font-weight: 100;
	color: #ff6600;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	margin-top: -3px;
	margin-bottom: 5;
	}

H2 {
	font-family: georgia, times new roman, serif;
	font-size: 16px;
	font-weight: 100;
	color: #ff6600;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	margin-top: 7px;
	margin-bottom: 5px;	}

p {
	line-height: 150%;
	margin: 7px 0px 0px 0px;
	}

ol {
	color: #666666;
	margin: 0px 0px 20px 0px;
	}

ol li {
	line-height: 150%;
	margin: 0px 0px 0px -20px;
	}

a {

}

/* form elements */
input {
	border:1px solid #bbbbbb;
	padding:5px 3px;
	}

button {
	background: orange;
	font-size: 13px;
	color: white;
	border-radius: 6px;
	-moz-boarder-radius: 6px;
	border: 0px;
	border-style: solid;
	text-decoration: none;
	text-transform: Capitalize;
	}