#main{
    width: 960px;
}
#portfolios {
    width: 638px;
/*    background: #fff;*/
    float: right;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.search_portfolio_free_div_in {
    background:#fff;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    float: left;
    height: 150px;
    margin: 4px;
    width: 150px;
}
.search_portfolio_free_div_in img {
    border: 0px;
}
#portfolios h1 {
    margin: 8px 0px 0px 0px ;
     font-size: 18px;
}
h1 a {

    margin: 0px;
    padding: 0px;
   font-size: 14px;
}

#design_directories{
    margin: 0px;
}





#design_directories{
    width: 316px;
    background: #fff;
    float: left ;
    padding: 0px;
    margin: 0px;
    position: relative;
}
#design_directories h1 {
    margin: 8px 4px 4px 4px;
    font-size: 18px;
}

#design_directories a  .design_directories_free_div{
    background:#fff;
    /*border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;*/
    float: left;
    height: 70px;
    margin: 12.5px 0px 12.5px 25px;
    width: 120px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;

}
.design_directories_free_div img {
    border: 0px;
    /*height: 70px;
    width: 120px;*/
    float: left;
    margin: 5px;
}
#design_directories a .design_directories_free_div span {
    width: 178px;
    height: 70px;
    position: absolute;
    right: 0px;
    display: block;
    margin: 0px 0px 5px 5px;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    vertical-align: middle;
}
#design_directories a .design_directories_free_div span h6{
  color:black;
  font-size: 14px;
  font-weight: normal;
  /*margin: 3px 3px 0px 5px;*/
  margin: 5px 5px 0px 0px;
  padding: 0px;
  text-transform: capitalize;
}
#design_directories a .design_directories_free_div span h5{
  float: left;
  font-weight: normal;
  color: gray;
  font-size: 11px;
  /*margin: 0px 3px 0px 5px;*/
  margin: 0px 5px 0px 0px;
  padding: 0px;
  display: block;
  text-transform: capitalize;
}
#design_directories .search_box {
    margin: 0px;
    position: absolute;
    left: 15px;
    top: 40px;
}


#search_box,  .search_box {
    background: url('../images/dashboard_search_bg_01.png') no-repeat;
    width: 281px;
    height: 29px;
    margin: 0px 0px 0px 8px;
    position: absolute;
    top: 0px;
    right: 5px;
}

#search_textfield {
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    margin: 2px 0px 0px 40px;
    padding: 2px 0px 0px 0px;
    border: 0px;
    border-color: #fff;
    height: 20px;
    background: transparent;
    width: 200px;
    outline-style:  none;
}
#search_textfield:hover {
    border-color: #fff;
}
#portfolio_search_button {
    background: url('../images/magnifyingglass.png') no-repeat;
     width: 60px;
    height: 45px;
    position: absolute;
    top: 3px;
    left: 12px;
    width: 20px;
    height: 20px;
}