#main_inner label {
    font-size: 13px;
    float: left;
    width: 19em;
    clear: left;
    margin: 6px 0px 5px 0px;
    color: #666666;
}
#main {
    background: none;
}
h1 {
    margin: 0px;
    position: relative;
}
textarea {
    clear: left;
    float: left;
    height:106px;
    width: 265px;
    border:1px solid #bbbbbb;
     margin: 0 0 10px 0;
}
h4 {
 font-weight: normal;
}

#accountsetting_contactinfo {
    float: left;
    margin-right: 20px;
}
#accountsetting_contactinfo h4,
#accountsetting_socialinfo h4{
    margin-bottom: 7px;
}
#acsetting_contactinfo_textarea {
    clear: left;
    float: left;
    height:106px;
    width: 265px;
}

#accountsetting_socialinfo {
    float: left;
}
#accountsetting_socialinfo input {
    font-size: 11px;
    height: 18px;
    width: 250px;
}
#accountsetting_socialinfo label span, .portfolio_ex_message  {
   font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
   font-style: italic;
   color: gray;
   font-size: 12px;
}
#accountsetting_socialinfo label {
    width: 320px;
}
#main_inner #secondaty_specializations_lable {
    width: 550px;
}
#main_inner #secondaty_specializations_lable span{
    margin-left: 10px;
}

/*need to global */
.portfolio_rounded_shading {
    background: #fff;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;

    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    width: 600px;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    float: left;
    position: relative;
}
#portfolio_rounded_shading_in {
    padding: 5px;
}
#main_inner select {
    margin:0 5px 0 0;
    padding: 0;
    float: left;
    clear: left;
}

/*portfolio sider*/
#portfolio_sider {
    margin: 35px 0 0 13px;
    font-size: 13px;
}
.portfolio_reg_steps, .portfolio_reg_steps_select, .portfolio_regsteps_selected_after {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    width: 220px;
}
.portfolio_reg_steps {
    background-color:gray;
    color:#fff;
}
.portfolio_reg_steps_select{
    background-color:#f78f1e;
    color:#fff;
}
.portfolio_reg_steps_in_select, .portfolio_reg_steps_in {
    margin: 10px 0 0 -11px;
    padding: 10px 20px 3px 20px;
    height: 25px;
}
.portfolio_reg_steps_in_select {
    background: url(../images/tipsy-west.png) no-repeat;
    background-position:left center;
    color: black;
}
.portfolio_regsteps_selected_after {
    background: #ffcc99;
    color: gray;
}

#directories_custom_url {
    height: 30px;
    float: left;
}
#directories_custom_url span{
    width: 238px;
    clear: left;
    float: left;
    display: block;
    margin-top: 5px;
    font-size: 13px;
}
#directories_custom_url input {
    float: none;
    margin: 0px;
}

#directories_info_staff_year {
    clear: both;
    margin: 0px 0px 10px 0px;
    height: 50px;
}
#directories_info_staff_year span label, #directories_info_staff_year span select{
    font-size: 13px;
    font-family: Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
}
#directories_info_staff_year span label {
    width: 100px;
    font-size: 13px;
    font-family: Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
}
#directories_info_staff_year span {
    float: left;
    display: block;
}

#accountsetting_contactinfo .error_msg {
    float: none;
    margin: 0;
    clear: both;
}
#main_inner #acsetting_contactinfo_textarea  textarea{
    height:95px;
    }
hr {
    border-bottom: 1px gray dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 25px 0px 0px 0px;
}
.ex_down_message {
   font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
   font-style: italic;
   color: gray;
   font-size: 12px;
   float: left;
   margin: -5px 0px 10px 0px;
   display: block;
   clear: left;
}

.wordCountTextField {
    float: left;
    position: relative;
}
.wordCount {
    position: absolute;
    right: 0px;
    top:-18px;
}
.wordCount strong {
    float: left;
    display: block;
}
.wordCount dl {
    margin: 0px 0px 0px 10px;
    width: 100px;
    
}
.wordCountTextField #company_overview{
    width: 450px;
}
#main #save_btn{
    margin: 5px 0px 15px 0px;
}