/* the thumbnails */
#main_inner {
    overflow: visible;
}
.cloned {width: 0px;}
#triggers {
    width: 664px;
    height: 150px
}

#triggers img {
    background-color:#fff;
    /*padding:1px;
    border:1px solid #ccc;
    margin:15px 0px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;*/
}

/* the active thumbnail */
#triggers a.active img {
    outline:1px solid #000;
    /* show on top of the expose mask */
    z-index:9999;
    position:relative;
    }

.infiniteCarousel {
    width: 650px;
    position: relative;
}

.infiniteCarousel .wrapper {
    width: 604px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
    overflow: auto;
    /*min-height: 10em;*/
    height: 150px;
    /*margin: 0px 25px ;*/
    position: absolute;
    left: 0; /*left: 25px;*/
    top: 0;
}

.infiniteCarousel ul a img {
    
    border: 1px solid #ccc;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}

.infiniteCarousel .wrapper ul {
    width: 7650px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    /**/margin:0;
    padding:0;
    top: 0;
    position: absolute;
    
}
.infiniteCarousel ul {
    display: block;
    margin: 0;
    padding: 0;
}
.infiniteCarousel ul li {
    display:block;
    float:left;
    padding-right: 10px;
    margin: 0;
    height: 150px;
    /*width: 150px;*/ /*changed*/
    width: 150px;
}

.infiniteCarousel ul li a img {
    display:block;
    height: 150px;
    width: 150px; /*width: 145px;*/
}

.infiniteCarousel .arrow {
    /*display: block;
    height: 36px;
    width: 37px;*/
    background: url(../images/image_slider_right_arrow.png) no-repeat;
    /*text-indent: -999px;
    position: absolute;
    top: 37px;
    cursor: pointer;*/
}

.infiniteCarousel .forward {
     background: url(../images/image_slider_right_arrow.png) no-repeat;
    background-position: 0 0;
    right: 13px;
    top: 50px;
}

.infiniteCarousel .back {
    background-position: 0 -72px;
    left: 13px;
    top: 50px;
}

.infiniteCarousel .forward:hover {
    background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
    background-position: 0 -108px;
}

#scroll_bg {
   /*background: url(../images/Slider_background.png) no-repeat;*/
   height: 150px;
   width: 604px;
   }