#main_inner {
    margin: 0px auto;
    margin-bottom: 10px;
}
#main_inner h1 {
    margin:10px 0px 0px 0px;
}

#main_inner .captionLeftSection, #main_inner .captionRightSection{
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
}
/*  For Small Image Section */
/*red cloth content css*/
#main_inner em {
    display: block;
    margin-left: 25px;
    color: black;
    background: url('../images/quotes_img.png') no-repeat;
    padding-left: 45px;
    padding-top: 16px;
    margin-bottom: 20px;
}
#main_inner em span {
font-style: normal;
}

/*-------------------*/
.boxgrid{
    width: 148px;
    height: 118px;
    float: left;
    margin: 1px;
    border: 0px;
    overflow: hidden;
    position: relative;
}

.boxgrid img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.boxcaption{
    float: left;
    position: absolute;
    background: #000;
    height: 30px;
    width: 100%;
    padding-bottom: 10px;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.caption .boxcaption  {
    top: 120px;
    left: 0;
}
/*  For BIG Image Section */
.boxgrid_big{
    width: 298px;
    height: 238px;
    float: left;
    margin: 1px;
    border: 0px;
    overflow: hidden;
    position: relative;
}

.boxgrid_big img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.boxcaption_big{
    float: left;
    position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.caption_big .boxcaption_big  {
    top:  240px;
    left: 0;
}
/*dlog overwrite css*/
.caps {
    color: black;
    font-size: 13px;
    font-family: Century Gothic;
}
.textwidget {
 padding-left:10px;
}
/* For both BIG And SMALL sections  */
.bloghyperlink  {
    border: 0px;
    text-decoration: none;
    color: white;
}
.captionLeftSection  {
    float: left;
    color:white;
    position: absolute;
    padding: 5px 0px 0px 6px;
    font: 12px Georgia, serif;
}
.captionRightSection  {
    
    color:white;
    padding: 20px 6px 0px 6px;
    font: 12px Lucida grande, san-serif;
}
#dlog_h1 {
    font-family:Georgia, Times New Roman, Serif;
    font-size: 30px;
    margin: 15px 0px 10px 0px ;
    padding: 15px 0px 10px 0px ;
    }
#dlog_heading{
    font-family:Georgia, Times New Roman, Serif;
    font-size: 30px;
    color: #666666;
    border-bottom: 1px dotted gray;
    margin: 10px 15px 10px 12px;
    padding: 0px 0px 10px 0px;
}
/*discus board css*/
#dsq-content span{
    color: #000;
}
#at16p span{
    color:#000;
}
#letus_know_btn {
    position: relative;
    height: 50px;
}
#letus_know_btn a {
    background: url('../images/let_us_know.png') no-repeat 0 0;
    height: 30px;
    width: 150px;
    margin: 15px 0 0 0;
    position: absolute;
    left: 40px;
}
#letus_know_btn a:hover {
    background: url('../images/let_us_know_hover.png') no-repeat;
    height: 30px;
    width: 150px;
    cursor: pointer;
}
#publish_btn {
    height: 30px;
    width: 150px;
    
}
#publish_btn  a{
    background: url('../images/publish.png') no-repeat;
    height: 30px;
    width: 150px;
    float: left;
  }
#publish_btn  a:hover {
    background: url('../images/publish_hover.png') no-repeat;
    height: 30px;
    width: 150px;
    cursor: pointer;
}

#dlog_interviews_home {
    margin: 0px auto;
    margin-top: 10px;
    width: 600px;
}

#design_inter{

    color: orange;
}