#header {
    height: 41px;
    background: url('../images/header.png') repeat;
}
#header_mid {
    margin: 0px auto;
    height: 56px;
    width: 960px;
    position: relative;
}
#number_of_jobs, #number_of_fav, #number_applied, #diplay_name_on_header {
    font-family: Georgia, Times New Roman, Serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 20px;
    text-shadow: 0px 0px 2px #000000;
    margin: 5px 0px 0px 0px;
}
#number_of_jobs {
    width: 140px;
    right: 555px;
}
#number_of_jobs a:hover {
    color: orange;
}

#jobs{
    width:500px;
    right: 20px;
}
#number_of_fav {
    width: 130px;
    right: 400px;
}
#number_of_fav a:hover {
    color: orange;
}

#number_applied {
    width: 80px;
    right: 328px;
}

#number_applied a:hover {
    color: orange;
}

#dlog, #login, #portrolio, #josb, #logout ,#header_link_separator, #directories_head_link,
#header_link_separator1,#header_link_separator2 
{
    font-family:Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
    font-size: 10px;
    /*font-weight: bold;*/
    color: #cccccc;
    position: absolute;
    top: 18px;
    /*text-shadow : 0px 0px 2px #000000;*/
    margin: 5px 0px 0px 0px;
    text-transform: uppercase;
}
#links_header{

    background-color: red;
}
#header_link_separator {
    right: 419px;
    width:5px;
    text-align: center;
    float: left;
}
#header_link_separator1 {
    right: 588px;
    width:5px;
    text-align: center;
    float: left;
}
#header_link_separator2
{
    right: 437px;
    width:5px;
    text-align: center;
    float: left;
}
#header_link_separator2 a:hover
{
    color: orange;
}
#header_link_separator2 a
{
    color: orange;
}
#header_link_separator2 s
{
    text-decoration: none;
}
#dlog {
    width: 120px;
    right: 285px;
    float: left;
}
#portrolio {
    width:160px;
    right: 421px;
    position: absolute;
    float: left;
}
#josb
{
    width:145px;
    left: 297px;
    float: left;
}
#directories_head_link{
    font-family:Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
    font-size: 10px;
    right:310px;
    color: #cccccc;
    position: absolute;
    top: 18px;
    margin: 5px 0px 0px 0px;
    text-transform: uppercase;
}
#directories_head_link a:hover
{
    color: orange;
}
#dlog a:hover, #portrolio a:hover, #josb a:hover {
    color: orange;
}
#login, #logout {
    right: 8px;
}
#logout a {
    text-transform: uppercase;
    font-size: 10px;
}
#login a:hover, #logout a:hover {
    color: orange;
}
span {
    font-family: Lucida, Helvetica, Sans-serif;
    font-size: 14px;
    color: #cccccc;
}
#logo  {
    height: 56px;
    padding: 2px 0px 0px 0px;
}
#logo img{
    border: 0px;
}
#diplay_name_on_header {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #cccccc;
    font-size: 14px;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}