.addthis_default_style {
    margin: 0 0 30px 0;
    }
#main_inner {
    margin: 10px;
    }
#interview_h1 {
    font-family:Georgia, Times New Roman, Serif;
    font-size: 30px;
    color: #666666;
    border-bottom: 1px dotted gray;
    margin: 15px 0px 10px 0px ;
    padding: 15px 0px 10px 0px ;
    }

#interview_top_links {
    margin: 10px 0px 10px 0px;
   }

#interview_top_links li {
    display: inline;
    font-size: 13px;
    color: gray;
    }
#interview_main {
    float: left;
    }
/*delete this */
#interview_main  {
    float: right;
    margin: 0px 0px 10px 10px;
    }

#interview_img_with_txt {
    margin: 0;
    }
#interview_img_with_txt img{
   float: right;
   margin: 0px 0px 10px 10px;
   }
   
#interview_works  {
   /*margin: 10px 10px;*/ /*slider margin*/
   text-align: left;
   margin: 0;
   padding: 0;
    }

#interview_bottom_links {
    margin: 10px 0px 10px 0px;
    padding:10px 0px 10px 0px;
    border-bottom: 1px dotted gray;
    }

#interview_bottom_links li {
    display: inline;
    font-size: 13px;
    color: gray;
    }

#fetured_sidebar {
    font-family: lucida sans unicode, lucida grande, san-serifs;
    padding: 3px;
    }

#fetured_sidebar .h1 {
        font-size: 14px;
        font-weight: bold;
	color: gray;
	padding: 5px 0px 0px 0px;
        }

#fetured_sidebar img {
        float: left;
        padding: 10px 0px 0px 0px;
        }

#fetured_sidebar p {
    font-size: 13px;
        color: gray;
        width: 130px;
        margin: 3px 0px 0px 90px;
        }
#fetured_sidebar .p1 {
        font-size: 13px;
        font-family: lucida sans unicode, lucida grande, san-serifs;
        color: gray;
        margin: 10px 0px 10px 0px;
        }
#date_more {
    margin: 10px 0px 0px 0px;
    }

#date_more .dt {
    font-family: Georgia, Times New Roman, Serif;
    color: gray;
    width: 238px;
    float: left;
    font-style: italic;
    font-size: 12px;
    }

#date_more .dt span {
    font-family: Georgia, Times New Roman, Serif;
    color: gray;
    font-weight:bold;
    font-size: 15px;
    }

#date_more .more {
    right:0px;
    color: gray;
    text-align: right;
    width: 238px;
    }
    
#fetured_sidebar .more a:hover {
    font-style: italic;
    color: orange;
    }

#fetured_sidebar .sidebar_dt_more {
    float: left;
    }

#fetured_sidebar .sidebar_dt_more span {
    width: 238px;
    text-align: right;
    }

.line_gap {
    border-bottom: 1px gray dotted;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    }
#interview_sidebar {
        position: relative;
}

#interview_sidebar img {
	float: left;
	margin-right: 10px;
        border: 0;
	}
#interview_sidebar h10{
	font-size: 14px;
        font-weight: bold;
        font-style: italic;
	color: gray;
        margin: 0 0 10px 0;
        }

#interview_sidebar p1 {
        font-size: 13px;
        font-family: lucida sans unicode, lucida grande, san-serifs;
        color: gray;
        /*font-weight: bold;*/
        
	}


#interview_sidebar_bottom {
margin-top: 10px;
	}

#interview_sidebar_bottom .dt {
	float: left;
	font-family: Georgia, Times New Roman, Serif;
    	color: gray;
    	font-style: italic;
    	font-size: 12px;
        position: absolute;
        bottom: -35px;
        left: 0;
	}

#interview_sidebar_bottom .more {
        font-style: italic;
        color: gray;
	float: right;
	margin-left: 100px;
	}
#interview_sidebar_bottom .more a {
        font-style: italic;
        color: gray;
	float: left;
	}
#interview_sidebar_bottom .more a:hover {
        font-style: italic;
        color: orange;
	float: left;
	}

/* video images */
#interview_video_works {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  width: 635px;
  text-align: left;
}
#interview_video_works a img{
  margin: 7px 7px 0 0 ;
  padding: 0;
  border: #ddd 1px solid;
  width: 150px;
}
#interview_video_works a {
  float: left;
  border: 0;
  padding: 0;
}
#interview_video_works .interview_video_works_space img{
    margin: 7px 0 0 0 ;
    padding:0;
}