#search_box {
    background: url('../images/search_background.gif') no-repeat;
    background-position: center;
    height: 78px;
    width: 630px;
    position: relative;
    }

#search_textfield {
	width: 591px;
	height: 46px;
	background: url('../images/search_field.png') no-repeat;
	border: none;
	position: absolute;
	font-size: 18px;
	color: #999999;
	outline-style: none;
        padding:0px 10px 10px 15px;
        top: 15px;
	left: 20px;
        display: block;
	}

#search_button {
	background: url('../images/search_icon.gif') no-repeat 18px 9px;
	width: 60px;
	height: 45px;
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	}


#job_listing {
	/* background: #cccccc; */
	margin: 0px 10px 0px 15px;
	padding: 10px 5px 0px 5px;
	border-bottom: 1px dotted #cccccc;
	position: relative;
	}

#job_listing:hover {
	background: #eeeeee;
	/*margin: 10px 0px 10px 15px;*/
	margin: 0px 10px 0px 15px;
	padding: 10px 5px 0px 5px;
	border-bottom: 1px dotted #cccccc;
	position: relative;
	}

#job_listing a {
	display: block;
	width: 100%;
	text-decoration:none;
	}

#job_listing a:hover {
	text-decoration:none;
	}


/* Within Job Listing div */
#job_type {
	text-transform: uppercase;
	font-size: 10px;
	color: #000000;
	letter-spacing: 2px;
	}

#job_title {
	font-family: georgia, times new roman, serif;
	width: 350px;
	font-size: 15px;
	position: absoute;
	margin: 4px 0px 0px 0px;
	color: #ff9900;
	letter-spacing: 0.10em;
	}

#hide_show {
	width: 70px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: -1px 0px 0px 0px;
	color: #cccccc;
	}

#hide_show img {
	margin: 3px 0px 0px 6px
	}

#job_company {
	clear: left;
	width: 350px;
	margin: 4px 0px 9px 0px;
	color: #666666;
	font-size: 12px;
	}

#applications {
	background: url('../images/tick.gif') no-repeat;
	width: 100px;
	height: 30px;
	position: absolute;
	left: 350px;
	top: 30px;
	color: #aaaaaa;
	padding: 0px 0px 0px 20px;
	}


#thumbs_up, #thumbs_up:hover, #thumbs_down, #thumbs_down:hover {
	color: #666666;
	font-size: 12px;
	width: 20px;
	height: 20px;
	bottom: 0;
	position: absolute;
	}

#thumbs_up{
	background: url('../images/Thumbs-Up_Grey.gif') no-repeat;
	right: 25px;
	text-align: right;
	margin: 5px 0px 25px 0px;
	}

#thumbs_up:hover{
	background: url('../images/Thumbs-Up.gif') no-repeat;
	right: 25px;
	text-align: right;
	margin: 5px 0px 25px 0px;
	}

#thumbs_down{
	background: url('../images/Thumbs-Down_Grey.gif') no-repeat;
	right: 0px;
	text-align: right;
	margin: 5px 0px 25px 0px;
	}

#thumbs_down:hover{
	background: url('../images/Thumbs-Down.gif') no-repeat;
	right: 0px;
	text-align: right;
	margin: 5px 0px 25px 0px;
	}

#job_location {
	width: 190px;
	position: absolute;
	bottom: 0;
	left: 350px;
	margin: 5px 0px 9px 0px;
	color: #666666;
	font-size: 12px;
	}

#job_time {
	width: 100px;
	position: absolute;
	bottom: 0;
	right: 5px;
	text-align: right;
	margin: 5px 0px 9px 0px;
	color: #666666;
	font-size: 12px;
	}

#more_button {
	height: 24px;
	background: url('../images/more_button.gif') no-repeat top right;
	margin: 0px 15px 20px 0px;
	}


#sidebar_location_all {
    position: relative;
    margin: 20px 0 0 0;
}
#sidebar_location_all span {
    position: absolute;
    display: inline;
    right: 35px;
    top: 0;
    width: 60px
}
#sidebar_locations_inner_bottom {
    position: relative;
     margin:  0 0 0;
}
#sidebar_location_all span img ,#sidebar_locations_inner_bottom img{
    border: 0;
}
#sidebar_locations_inner_bottom  a {
    position: absolute;
    right: 40px;
    top: 0;
}
#sidebar_locations {
    margin: 15px 0 0 0;
    /*locations display*/
}
#sidebar_locations div input , #search_jobtype input{
    border: 0;
}
#sidebar_locations_inner div {
    float: left;
    width: 115px;
}
#sidebar_locations_inner_bottom {
    margin: 15px 0 0 0;
}
#sidebar_locations br {
 clear: both;
}
#search_jobtype {
    position: relative;
    margin: 20px 0 25px 0;
}
#search_fulltime {

}
#search_freelance {
    position: absolute;
    right:45px;
    top: 0;
}
#search_parttime {
    position: absolute;
    top:30px;
}
#search_internship {
    position: absolute;
    right:45px;
    top: 30px;
}