
#main_inner input {
    border:1px solid #bbbbbb;
    padding:8px 3px;
    float: left;
    font-size: 12px;
    margin: 0 0 10px 0;
    clear: left;    
}
#main_inner label {
    font-size: 12px;
    float: left;
    width: 19em;
    clear: left;
    margin: 6px 0px 5px 0px;
    color: #666666;
}

#main_inner label a{
    color: orange;
    float: right;
    }

#main_inner fieldset {
    border: 0;
    margin: 10px 0;
    padding: 0px;
}
#chk1 {
    margin: 10px 0 0 0;
    padding: 0;
    vertical-align: middle;
    height: 18px;
}

#chk1 input {
    border: 0;
    
}
#register_bottom_text_in {
    margin: -5px 0 0 0;
    left: 160px;
    top: 5px;
    position: absolute;
    padding: 0;}
#register_bottom_text_in p{
    color: gray;
    margin: 0;
    padding: 0;
}
#register_post_btn {
    margin: 0;
    padding: 0; 
}
#register_post_btn button{
    color: #000;
    margin: 5px 0 0 0;
    background: url('/images/register&post.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
    cursor: pointer;
}
#register_post_btn button:hover{
    color: #000;
    background: url('/images/register&post_hover.png') no-repeat 0px 0px;
}
#register_apply_btn {
      margin: 0;
    padding: 0;
}
#register_apply_btn button {
    color: #000;
    margin: 5px 0 0 0;
    background: url('/images/register&apply_hover.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
    cursor: pointer;
}
#register_apply_btn button:hover {
    color: #000;
    background: url('/images/register&apply.png') no-repeat 0px 0px;
}


#register_sidebar {
    margin: 25px 0 0 0;
}
#register_sidebar img{
    float: left;
    width: 32px;
    border: 0;
}
#register_sidebar span{
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 8px;
    width: 200px;
    color: #000;
}
.link a {
    color: orange;
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 12px; 
}
#register_form {
    margin:0;
    padding:0;
}
#register_bottom_text {
    position: relative;
    margin: 3px 0 0 0;
}


	