#tittle h1
{
        font-family: georgia, times new roman, serif;
	font-size: 30px;
	font-weight: 100;
	color: #000;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: grey;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
        }
#left_title {
    float: left;
    overflow: hidden;
    width: 330px;
}
#right_title {
    float: right;
    overflow: hidden;
    width: 300px;
    text-align: right;
    }

#main_inner input {
    border:1px solid #bbbbbb;
    padding:8px 3px;
    float: left;
    font-size: 12px;
    margin: 0 0 10px 0;
    clear: left;
    width: 215px;
}
#main_inner label {
    font-size: 12px;
    float: left;
    width: 19em;
    clear: left;
    margin: 6px 0px 5px 0px;
    color: #666666;
}

#main_inner label a{
    color: orange;
    float: right;
    }


#main_inner fieldset {
    border: 0;
    margin: 10px 0;
    padding: 0px;
}
#chk1 {
    margin: 10px 0 0 0;
    padding: 0;
    vertical-align: middle;
    height: 18px;
}

#chk1 input {
    border: 0;

}
.below_text {
    margin: -5px 0 0 0;
    padding: 0;}
.below_text p{
    color: gray;
    margin: 0;
    padding: 0;
}
#main_inner .sendpassword_btn {
    margin: 5px 0 0 0;
}
#main_inner .sendpassword_btn button{
    color: #000;
    margin: 5px 0 0 0;
    background: url('../images/sendpassword.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
}
#main_inner .sendpassword_btn button:hover{
    color: #000;
    background: url('../images/sendpassword_hover.png') no-repeat 0px 0px;
    cursor: pointer;
}
#register_sidebar {
    margin: 25px 0 0 0;
}
#register_sidebar img{
    float: left;
    width: 32px;
    border: 0;
}
#register_sidebar span{
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 8px;
    width: 200px;
    color: #000;
}
.link a {
    color: orange;
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 12px;

}
.clear{
    clear: both;
}

	