
#header {height:5px;}
#logo, #header_mid {display: none;}
#jobs_top_bar {
    text-transform: uppercase;
    color:#aaa;
    font-size: 10px;
    position:relative;
    margin: 0px 10px 0px 10px ;
}
#jobs_top_bar_search {
    float: left;
    margin-left: -10px;
    position:absolute;
}
#jobs_top_bar_search a:hover {
    color: #5d5c5c;
}
#jobs_top_bar_previous {
    position:absolute;
    right: 370px;
}
#jobs_top_bar_previous:hover {
    color: #5d5c5c;
}
#jobs_top_bar_next {
    position:absolute;
    right: 300px;
}
#jobs_top_bar_next:hover {
    color: #5d5c5c;
    cursor: pointer;
}
#QJob-Apply-Upload pr {
    color:666666;
    position:relative;
    font-size: 8.5px;
    text-decoration: none;
    left: 85px;
}
#QJob-Apply-Upload rs {
    color:666666;
    position:relative;
    font-size: 8.5px;
    text-decoration: none;
    left: 75px;
}
#QJob-Apply-Upload r {
    color:#5d5c5c;
    margin: 0px 0px 0px -150px;
    font-weight: 200;
}



