#main {
    position: relative;
    margin-top: 20px;
}
#main #job_company {
    /*background-color: red;*/
    height: 35px;
    border-bottom: 1px dotted gray;
}
#main h1, #main h2, #main h3 {
    margin: 0px 0px 0px 0px;
    border:none;
}
#main h1 {
    font-size: 30px;
    color: #5d5c5c;
    float:left;
    margin-right: 10px;

}
#main h2{
    font-size: 12px;
    margin: 15px 0px 0px 0px;
    padding-bottom: 5px;
    /*background-color: blue;*/
    float:right;
    /*border-bottom: 1px dotted gray;*/
}
#main h3{
    font-size: 12px;
    position:absolute;
    /*background-color: red;*/
    margin-top: 5px;
}
#main #description {
    margin-top: 40px;
    margin-left: 0px;
}
#main #description p{
    margin-bottom: 15px;
    margin-left: 0px;
}

#main #description span{
    font-size: 12px;
    color:#444444;
}

#QJobpreview_btn{
    background: url('/images/btn_post_this_job.png') no-repeat;
    width: 115px;
    height: 31px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 20px 0px;
}
#QJobpreview_email_btn{
    background: url('/images/email_this_job_post.png') no-repeat;
    width: 147px;
    height: 33px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 20px 0px;
}
#submit_btn a {
    color: #616D7E;
    margin-left: 20px;

}
#submit_btn spam {
    margin-left: 20px;
}
#submit_btn a:hover{
    color: #25383C;
    margin-left: 20px;

}
#submit_btn s {
    margin-left: 20px;
    text-decoration: none;
}
#description ol {

    color: black;
    margin-left: 25px;
}
