/* Form Elements */
select {
	float: left;
	}
	
#preview_job {
	margin: 10px 0px -20px 120px;
	}

#post_job_button {
	display: block;
	margin: -10px 0px 20px 0px;
	width: 150px;
	padding: 7px 20px;
	background: orange;
	font-size: 13px;
	color: white;
	border-radius: 8px;
	-moz-boarder-radius: 8px;
	border: 0px;
	border-style: solid;
	}

	
fieldset {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	margin: 0;
	padding: 5 0 5 0;
	}
	
textarea {
	clear: left;
	border:1px solid #bbbbbb;
	padding:5px 3px;
	width: 470;
	margin: 5px 0px 15px 0px;
	}

label {
	/*display: block; */
	float: left;
	width: 10em;
	clear: left;
	margin: 6px 0px 11px 0px;
	color: #666666;
	}
	
	
/* Job Previw Page */

#company_information {
	font-size: 13px;
	line-height: 18px;
	}
	
#company_name {
	font-size: 14px;
	margin: 0px 0px 3px 0px;
	}

#preview_job_location {
	font-size: 14px;
	}
	
#preview_job_type {
	margin: 12px 0px 15px -20px;
	padding: 5px 5px 5px 20px;
	background: orange;
	width: 100px;
	color: white;
	text-transform: uppercase;
	}
	
#job_description {
	font-size:13px;
	line-height: 18px;
	margin: 20px 0px 0px 0px;
	}
	
	
#preview_how_to_apply {
	font-size:13px;
	line-height: 18px;
	margin: 20px 0px 0px 0px;

	}
	
#preview_how_to_apply_heading {
	margin: 20px 0px 0px 0px;
	}
	
#send_application {
	margin: 10px 0px 0px 0px;
	}
	
#fake {
	background: #cccccc;
	
	}
	
#looks_good {
	width: 150px;
	padding: 7px 20px;
	background: orange;
	font-size: 13px;
	color: white;
	border-radius: 8px;
	-moz-boarder-radius: 8px;
	border: 0px;
	border-style: solid;
	text-decoration: none;
	}
	
#signup {
	margin: 10px 0px 0px 120px;
	display: inline;



	}
	
#looks_good_div {
	margin: 30px 0px 0px 0px;
}