#wrap {
  background: #fff;
}
#wrap dl {

  display: inline;
  font-size: 13px;
  font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
}
#search_box {
  margin: 10px auto 0 auto;
}

#portfolio_search_profile {
    /*width: 350px;
    padding: 10px;*/
     background: #ccc;
   -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    float: left;
    width: 350px;
    margin: 10px 0 0 0;
    padding: 5px;
}
