#main{margin-bottom: 15px;}
#main #QJobPost_btn{background: url('/images/register&post.png') no-repeat;width: 150px;height: 31px;border: none; cursor: pointer;}
#main #QjobPost_btn:hover{background: url('../images/register&post_hover.png') no-repeat;width: 150px;height: 31px;border: none; cursor: pointer;}
#sidebar h2{border: none;margin: 0px 0px 10px 0px;font-size: 14px;}
#main #description h2 {border: none;margin: 0px 0px 10px 0px;font-size: 14px;}
#main #job_title, #company_name, #password{width: 260px;margin-bottom: 3px;}
#main label{width: 250px; display: block;margin-bottom: 3px;}
#main .required_field{width: 5px; display: inline; color: red;}
#main #show_password{margin-top: 10px;}
#job_company span{font-size: 30px; color: orange;}
#job_company a :hover{color: #FFCC00;}
#sidebar span{font-size: 10px; color: #666666; margin: -2px 0px 5px 0px ; display: block;}
#main h3{padding: 0px}