/* sidebar */
#sidebar {
    float: left;
    right: 0px;
    top: 0px;
    width: 295px;
    /*margin: 15px 0 0 0;*/
    overflow: hidden;
    }

.sidebar_chunk {
    /*background: url('../images/right_header.gif') no-repeat 0px 0px;*/
    margin: -15px 10px 5px 10px;
    padding: 0 10px 0 10px;
    clear: both;
    }
.sidebar_chunk h3 {
    font-family: Century Gothic, lucida sans unicode, lucida grande, san-serifs;
    border-top: gray 3px solid;
    font-size: 12px;
    color: #333333;
    margin: 0 0 8px 0;
    padding: 3px 10px 0px 0px;
    text-transform: uppercase;
    }

.sidebar_chunk h4 {
    font-family: georgia, times new roman, serif;
    font-size: 14px;
    color: #666666;
    padding: 0px 0px;
    }

.sidebar_inner {
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    width: 238px;
    padding: 0px 0px 0px 0px;
    }

.sidebar_inner p {
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    width: 238px;
    line-height: 1.3em;
    }

.sidebar_inner a {
    color: #666666;
	font-size: 13px;
    }

#sidebar_more {
    font-style: italic;
    width: 238px;
	right: 30px;
	text-align: right;
	font-size: 12px;
    padding: 0px 0px 8px 0px ;
    border-bottom: #787878 1px dotted;
    }

#sidebar_more a {
    font-style: italic;
    color: #666666;
    }

#sidebar_more a:hover {
    font-style: italic;
    color: orange;
    }

#sidebar_previous {
    width: 238px;
    margin: 0px 0px 0px 0px;
    }

#sidebar_previous1 {
    width: 238px;
    }

#sidebar_previous_dt {
    font-family: Georgia, Times New Roman, Serif;
    float: left;
    width: 70px;
    color: #393939;
    font-weight:bold;
    font-size: 15px;
    }

#sidebar_previous_txt {
    color: gray;
    margin: 10px 0px 0px 0px;
    }

#sidebar_previous_txt:hover {
    color: black;
    margin: 10px 0px 0px 0px;
    }

/*post a design job for free!*/
#post_links {
    width: 238px;
    color: #000;
    height: 35px;
    font-size: 13px;
    margin: 12px 0 0 0;
    }

#post_links_link {
    padding:10px 0px 10px 40px;
    vertical-align: middle;
	}

#post_links_img {
    float: left;
    height: 32px;
    border: 0px;
    }

#lets_do_it {
    margin-top: 10px;
    }

#lets_do_it img {
    border: 0px;
    }

/*jobposting_register sidebar css -- start -*/
#register_sidebar {
    clear: both;
}
#register_sidebar img{
    float: left;
    width: 32px;
    border: 0;
}
#register_sidebar span{
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 8px;
    width: 200px;
    color: #000;
}
/*jobposting_register sidebar css -- end -*/
.sidebar_chunk span {
    width: 235px;
    display: block;
    color: #000;
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 12px;
    margin: -5px 0 0 0;
}


/*sider interviews*/
.sider_interviews {
    position: relative;
    height: 68px;
    width: 260px;
    margin: 0 0 10px 0;
}
.sider_interviews img {
    position: absolute;
    border: 0;
}
.sider_interviews h4 {
    font-family: Century Gothic, lucida sans unicode, lucida grande, san-serifs;
    color: #000;
    font-weight: normal;
    position: absolute;
    font-style: italic;
    left: 100px;
    top: 0;
    margin: 0;
    font-size: 12px;
    width: 170px;
}
/*name interview person name div*/
/*.sider_interviews div {
    position: absolute;
    left: 100px;
    bottom: 0;
    font-size: 12px;
}
*/
#sider_interviews_line_break {
    border-bottom: 1px gray dotted;
    width: 263px;
    margin: 10px 0 10px 0;
}
.sider_interviews span {
    color: gray;
    font-style: normal;
    margin: 5px 0 0 0;
}