#wrap {
   margin-top: 10px;
}
#main {
    overflow: visible;
    background: none;
}
#portrolio {
    color: orange;
}
h1 {
    margin-top: 0;
}
/*page main heading*/
#main_inner label {
    font-size: 12px;
    float: left;
    width: 19em;
    clear: left;
    margin: 6px 0px 5px 0px;
    color: #666666;
    position: relative;
}
#main_inner label a{
    color: orange;
    position: absolute;
    right: -202px;
    text-align: right;
    
    }
#main_inner fieldset {
    border: 0;
    margin: 10px 0;
    padding: 0px;
}
#chk1 {
    margin: 10px 0 0 0;
    padding: 0;
    vertical-align: middle;
    height: 18px;
}

#chk1 input {
    border: 0;
}
.below_text {
    margin: -5px 0 0 0;
    padding: 0;}
.below_text p{
    color: gray;
    margin: 0;
    padding: 0;
}
#main_inner .register_post_btn {
    margin: 15px 0 0 0;
}
#main_inner .register_post_btn a{
    color: #000;
    margin: 5px 0 0 0;
    background: url('../images/register&post.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
}
#register_post_btn {
    margin: 15px 0 0 0;
}
#login_post_btn button{
    color: #000;
    margin: 5px 0 0 0;
    background: url('../images/login&post.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
}
#login_post_btn button:hover{
    color: #000;
    margin: 5px 0 0 0;
    background: url('../images/login&post_hover.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
    cursor: pointer;
}
#main_inner .register_post_btn a:hover{
    color: #000;
    background: url('../images/register&post_hover.png') no-repeat 0px 0px;
}

.register_apply_btn button {
    color: #000;
    margin: 5px 0 0 0;
    background: url('../images/login&apply.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
}
.register_apply_btn button:hover {
    color: #000;
    background: url('../images/login&apply_hover.png') no-repeat 0px 0px;
    cursor: pointer;
}

#register_sidebar {
    margin: 25px 0 0 0;
}
#register_sidebar img{
    float: left;
    width: 32px;
    border: 0;
}
#register_sidebar span{
    font-family: Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 8px;
    width: 200px;
    color: #000;
}
.link a {
    color: orange;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
}

#uploadlogin_forgot_link {
    position: relative;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    color: gray;
}
#uploadlogin_forgot_link a {
    position: absolute;
    left: 130px;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
}
/*portfolio login button*/
#portfolio_login_btn button{
    background: url(../images/login.png) no-repeat;
    width: 151px;
    height: 31px;
}
#portfolio_login_btn button:hover {
    background: url(../images/login_hover.png) no-repeat;
    cursor: pointer;
}

/**/
#main_inner #portfolio_submit_btn  {
    background: url('../images/submit.png') no-repeat;
    width: 151px;
    height: 31px;
}
#main_inner #portfolio_submit_btn:hover  {
    background: url('../images/submit_hover.png') no-repeat;
    width: 151px;
    height: 31px;
    cursor: pointer;
}