#wrap {
    margin-top: 10px;
}
#main {
    overflow: visible;
    background: none;
}

#main_inner {
    position: relative;
}
h1 {
    margin-top: 0;
}
#portrolio {
    color: orange;
}
/*common for portfolio end css*/

#main_inner label {
    font-size: 13px;
    float: left;
    width: 19em;
    clear: left;
    margin: 6px 0px 5px 0px;
    color: #666666;
}

#main_inner label a{
    color: orange;
    float: right;
    }

#main_inner fieldset {
    border: 0;
    margin: 10px 0;
    padding: 0px;
}
#chk1 {
    margin: 10px 0 0 0;
    padding: 0;
    vertical-align: middle;
    height: 18px;
}
#chk1 input {
    border: 0;
}
#register_bottom_text_in {
    margin: -5px 0 0 0;
    left: 160px;
    top: 5px;
    position: absolute;
    padding: 0;}
#register_bottom_text_in p{
    color: gray;
    margin: 0;
    padding: 0;
}
#register_post_btn {
    margin: 0;
    padding: 0;
}
#register_post_btn button{
    color: #000;
    margin: 5px 0 0 0;
    background: url('/images/register&post.png') no-repeat 0px 0px;
    height: 30px;
    width: 150px;
    float: left;
    cursor: pointer;
}
#register_post_btn button:hover{
    color: #000;
    background: url('/images/register&post_hover.png') no-repeat 0px 0px;
}
#register_apply_btn {
      margin: 0;
    padding: 0;
}
#register_proceed_btn button {
    color: #000;
    margin: 5px 0 0 0;
    background: url('/images/register&proceed.png') no-repeat 0px 0px;
    height: 31px;
    width: 151px;
    float: left;
    cursor: pointer;
}
#register_proceed_btn button:hover {
    color: #000;
    background: url('/images/register&proceed_hover.png') no-repeat 0px 0px;
}
#portfolio_reg_requiredtext {
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
    position: absolute;
    right: 0;
}

#register_sidebar {
    margin: 25px 0 0 0;
}
#register_sidebar img{
    float: left;
    width: 32px;
    border: 0;
}
#register_sidebar span{
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 8px;
    width: 200px;
    color: #000;
}
.link a {
    color: orange;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
}
#register_form {
    margin:0;
    padding:0;
}
#register_bottom_text {
    position: relative;
    margin: 3px 0 0 0;
}
.portfolio_required_star {
    color: red;
}

.portfolio_reg_steps, .portfolio_reg_steps_select, .portfolio_regsteps_selected_after{
  /* position: absolute;
     top:0;
    right:-300px;*/
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    width: 220px;
}
.portfolio_reg_steps {
    background-color:gray;
    color:#fff;
}
.portfolio_reg_steps_select{ 
    background-color:#f78f1e;
    color:#fff;
}
.portfolio_reg_steps_in_select, .portfolio_reg_steps_in {
    margin: 10px 0 0 -11px;
    padding: 10px 20px 3px 20px;
    height: 25px;
}
.portfolio_reg_steps_in_select {
    background: url(../images/tipsy-west.png) no-repeat;
    background-position:left center;
    color: black;
}
.portfolio_regsteps_selected_after {
    background: #ffcc99;
    color: gray;
}

/*portfolio account setting*/
#accountsetting_checkboxs{
    border-bottom:#787878 1px dotted;
    height: 35px;
    margin: 10px 0 0 0;
    }
#accountsetting_checkboxs div {
    float: left;
    margin: 0;
}
#accountsetting_checkboxs div input{
    margin:0 5px 0 0;
    padding: 0;
    height: 15px;
    border: 0;
    width: 13px;
}
#accountsetting_checkboxs div span{
    margin:0 20px 0 0;
    color: #666666;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
}

#accountsetting_contactinfo {
    float: left;
    margin: 10px 10px 10px 0;
    border-right: #787878 1px dotted;
    padding-right: 30px;
}
#accountsetting_contactinfo h4, #accountsetting_socialinfo h4 {
    margin: 5px 0 10px 0;
}
#accontsetting_radiobtns  h4 {
    margin: 15px 0 15px 0;
}
.break_border {
    border-bottom: #787878 1px dotted;
    clear: both;
}
#accontsetting_radiobtns {
    font-size: 13px;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
}
#accontsetting_radiobtns div {
    height: 25px;
    color: #666666;
}
#accontsetting_radiobtns input{
    margin: 3px 10px 0 0;
    height: 10px;
    padding: 0;
    border: 0;
    width: 13px;
}
#accontsetting_radiobtns span {
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    color: black;
    height: 30px;
}
#account_settings_theme h5 {
    padding: 10px 0 0 0;
}
#account_settings_theme div{
   width: 70px;
   height: 70px;
   margin: 10px 10px 10px 20px;
   float: left;
}
#account_settings_theme input{
    margin: 0 0 0 -18px;
    width: 13px;
}
#account_settings_theme1 input, #account_settings_theme2 input, #account_settings_theme3 input {
    padding: 0;
    border: 0;
    width: 13px;
}
#account_settings_theme1 {
    background: #fff;
    border: 1px solid #787878;
}
#account_settings_theme2 {
    background: #000;
    border: 1px solid #787878;
}
#account_settings_theme3 {
    background: #ccc;
    border: 1px solid #787878;
}
#account_setting_textfield {
    float: left;
    margin: 0 0 0 10px;
}
/*portfolio*/

#accountsetting_socialinfo {
    float: left;
    margin: 10px 0 0 0;
    position: relative;
}
#accountsetting_socialinfo h4{
    margin-left: 10px;
}
#accountsetting_socialinfo div {
    margin: 38px 0 0 0;
}
#accountsetting_socialinfo div div{
    height: 30px;
}
#accountsetting_socialinfo label{
    margin: 10px 0 10px 0;
}
#accountsetting_socialinfo input{
   position: absolute;
   left: 50px;
}
#accountsetting_socialinfo img {
   position: absolute;
   margin: 2px 0 0 10px;
   height: 32px;
}
#main_inner select{
    height: 25px;
}

br {
    clear: both;
}
#main_inner textarea {
    border: 1px solid #ccc;
    width: 450px;
}
#main_inner h5 {
    margin: 5px 0 10px 0;
}
.portfolio_rounded_shading {
    background: #eee;
   -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    float: left;
    width: 600px;
    margin: 10px 0 0 0;
    padding: 5px;
}
#main_inner select {
    float: left;
    height: 28px;
    border:1px solid #bbbbbb;
    border-style:  solid;
    border-width: 1px;
    padding:5px 3px;
    margin: 0 5px 10px 0;
}
/*edit portfolio register css*/
h4 {
    border-bottom: #787878 1px dotted;
     font-weight: normal;
}
#sidebar #portfolio_sider h4 {
    border-bottom: #787878 1px dotted;
    font-weight: normal;
    margin-bottom: 3px;
    display: none;
}
#sidebar #portfolio_sider {
    margin: 475px 0px 0px 0px;
}
#sidebar #portfolio_sider_01 {
    margin: 35px 0px 0px 13px;
}
#sidebar #portfolio_sider a {
    margin: 0;
    text-decoration:  underline;
}
#sidebar #portfolio_sider a:hover {
    margin: 0;
    text-decoration:  none;
}

#portfolio_delete_account {
    position: absolute;
    bottom: 15px;
    right:0px;
    text-decoration:  underline;
}
#portfolio_delete_account:hover {
    text-decoration:  none;
}



#save_btn button{
     background: url('../images/save.png') no-repeat;
     width: 151px;
     height: 31px;
}
#save_btn button:hover{
     background: url('../images/save_hover.png') no-repeat;
     cursor: pointer;
}



#login_link {
    text-decoration: underline;
}
#login_link:hover {
    text-decoration: underline;
    color: orange;
}
#main_inner .portfolio_msg_text {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

/**/
#main_inner #portfolio_users_edit_emailid {
    /*border: 1px #bbbbbb solid;*/
    padding: 0px 0px 5px 0px;
    width: 255px;
    display: block;
    /*color: #787878;*/
    color: #000 ;
    margin-top: 0px;
}
#portfolio_users_edit_emailid_input {
    display: none;
}