		#slider_fieldset { border:0; margin: 6em; height: 12em; background: blue; }	
		.slider_label {font-weight: normal; float: left; margin-right: .5em; font-size: 1.1em; background: red;}
		.slider_select {margin-right: 1em; float: left; background: pink;}
		.ui-slider {clear: both; top: 5em;}
                
