<%= stylesheet_link_tag 'delete_portfolio_account'  %>
<div id="wrap"> <!-- wrap start -->
  <div id="main"> <!-- main start -->
    <div id="main_inner"> <!-- main inner start -->
      <h1>delete your account</h1>
      <br/>
      We are sad that you are leaving the DezineConnect family. However, we do respect your decision to close your account.<br/><br/>

      (1) DezineConnect promises to delete all media and information about you from all its servers. We will not keep any copy of your media or information anywhere.<br/><br/>
      (2) DezineConnect further promises to remove your username and password from its servers. You have a choice to rejoin.<br/><br/>

      We would appreciate if you can tell us your reasons to cancel this account. This will help us improve our service.<br/><br/>
      <form action="/delete_account/">
        <textarea cols="60" rows="3"></textarea>
        <button type="submit" id="portfolio_delete_account_btn"></button>   
      </form>
      <a href="/portfolios"><button type="submit" id="portfolio_delete_account_btn"></button></a>
    </div> <!-- main inner end-->
  </div><!-- main end-->
</div><!-- wrap end -->