<%= stylesheet_link_tag 'portfolio_register' %>
<%= javascript_include_tag 'show_password'  %>

<script type="text/javascript">
function validate()
{
    if((document.getElementById('first_name').value=="")||(document.getElementById('password').value=="")||(document.getElementById('email').value=="")||(echeck(document.getElementById('email').value)==false)) {

        if(document.getElementById('first_name').value=="") {
          document.getElementById('first_name').style.border="1px red solid";
          document.getElementById('first_name').style.background="#ffefef";
          document.getElementById('error_first_name').style.display="block";
          }
          if((echeck(document.getElementById('email').value)==false)||(document.getElementById('email').value=="")){
           document.getElementById('email').style.border="1px red solid";
           document.getElementById('email').style.background="#ffefef";
           document.getElementById('error_email').style.display="block";

          }
        if(document.getElementById('email').value=="") {
           document.getElementById('email').style.border="1px red solid";
           document.getElementById('email').style.background="#ffefef";
           document.getElementById('error_email').style.display="block";

          }
           if(document.getElementById('password').value=="") {

          document.getElementById('password').style.border="1px red solid";
          document.getElementById('password').style.background="#ffefef";
          return false;
          document.getElementById('error_password').style.display="block";

          }
       return false;
    }
    else {
         return true;
    }
}

function validation(ctl,ct2) {
    if((document.getElementById(ctl).value=="")) {
       document.getElementById(ctl).style.border="1px red solid";
       document.getElementById(ctl).style.background="#ffefef";
       document.getElementById(ct2).style.display="block";
       return false;
       }
    else {
       document.getElementById(ctl).style.border="1px #ccc solid";
       document.getElementById(ctl).style.background="#fff";
       document.getElementById(ct2).style.display="none";
       return true;
       }
}

function echeck(str) {
		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   //alert("Invalid E-mail ID")
		   return false
		}
		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   //alert("Invalid E-mail ID")
		   return false
		}
		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    //alert("Invalid E-mail ID")
		    return false
		}
		 if (str.indexOf(at,(lat+1))!=-1){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.indexOf(dot,(lat+2))==-1){
		   // alert("Invalid E-mail ID")
		    return false
		 }
		 if (str.indexOf(" ")!=-1){
		    //alert("Invalid E-mail ID")
		    return false
		 }
 		 return true
	}
</script>

<div id="wrap"><!--warp start-->
    <div id="main"><!--main start-->
        <div id="main_inner"><!--main inner start-->
          <!--portfolio-->
          <div id="title">
            <% unless session[:directory_listing_obj].nil? or session[:directory_listing_obj].blank? then %>
              <h1 class="hd_left_text">create free listing: register</h1>
            <%else%>
              <h1 class="hd_left_text">create portfolio: register</h1>
            <%end%>
          </div>
      If you already have an account, please
      <span class="link">
        <a href="/login">login</a>
      </span>
      here.
      <fieldset>
        <form action="/users" class="new_user" id="new_user" method="post" onsubmit="javascript:return validate();" enctype="multipart/form-data">
          <div id="registr_form">
            <input name="authenticity_token" type="hidden" value="73001f8e8e62be38ac7fd4a9efb899d8282acccb" />
          </div>
          <label for="FirstName">first name<span class="portfolio_required_star">*</span></label>
          <input type="text" name="user[firstname]" size="25"  maxlength="45" id="first_name" onblur="validation('first_name','error_first_name')"/>
          <div id="error_first_name" class="error_msg" >
            please enter first name
          </div>
          <label for="LastName">last name</label>
          <input type="text" name="user[lastname]" size="25"  maxlength="45" id="last_name"/>

          <label for="EmailId">email<span class="portfolio_required_star">*</span> <em class="portfolio_msg_text">(this will also be your user id)</em></label>
          <input type="text" name="user[email]" size="35"  maxlength="45" id="email" onblur="validation('email','error_email')"/>
          <% if flash[:notice] then %>
          <div class="error_msg" style="display: block;">
          <%= flash[:notice] %>
          </div>
          <% end %>
          <div id="error_email" class="error_msg">
            please provide your email
          </div>
          <label for="Password">password<span class="portfolio_required_star">*</span></label>
          <input type="password" name="user[password]" id="password" size="20"  maxlength="45" onblur="validation('password','error_password')"/>
          <!--<div id="error_password" class="error_msg">
            please enter password
          </div>-->

          <div class="clear"></div>
          <div id="register_bottom_text">
            <label  id="register_proceed_btn">
              <button type="submit" ></button>
            </label>
          </div>
        </form>
      </fieldset>

  </div><!--main inner end-->
</div><!--main end-->

<div id="sidebar">

  <div id="portfolio_sider_01">

  <div class="portfolio_reg_steps_select">
    <div class="portfolio_reg_steps_in_select">
      step 1: register
    </div>
  </div>
  <div class="portfolio_reg_steps">
    <div class="portfolio_reg_steps_in">
      step 2: profile information
    </div>
  </div>
  <div class="portfolio_reg_steps">
    <div class="portfolio_reg_steps_in">
      <% unless session[:directory_listing_obj].nil? or session[:directory_listing_obj].blank? then %>
         step 3: upload your work
      <%else%>
        step 3: portfolio
      <%end%>
    </div>
  </div>

  </div>
</div>
</div><!--warp end-->
