<p>
  <b>User:</b>
  <%=h @favourite.user_id %>
</p>

<p>
  <b>Job posting:</b>
  <%=h @favourite.job_posting_id %>
</p>


<%= link_to 'Edit', edit_favourite_path(@favourite) %> |
<%= link_to 'Back', favourites_path %>
