<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
  <div id="main"><!-- main -->
    <div id="main_inner"><!-- main inner -->
      <h1>Resume & Portfolio file size limit exceeds !</h1>
      <h2> 1. Resume size got exceeded by 500 KB. </h2>
      <h2> 2. Portfolio size exceeded by 1 MB. </h2>
      <br/>
      <a href="/jobs/show/<%= @job_application.job.id %>">Click here to apply again</a>
      <br/><br/>
    </div><!-- main inner -->
  </div><!-- main -->
</div><!-- wrap -->



