<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
  <div id="main"><!-- main -->
    <div id="main_inner"><!-- main inner -->
      <h1>Portfolio size limit exceeds !</h1>
      <h2> 1. Portfolio size got exceeded by 1 MB. </h2>
      <br/>
      <a href="/jobs/show/<%= @job_application.job.id %>">Click here to apply again</a>
      <br/><br/>
    </div><!-- main inner -->
  </div><!-- main -->
</div><!-- wrap -->