<style type="text/css">
 .formerror
  {
    color: #5D5C5C;
    margin: 50px 0px 50px 400px;
    width: 350px;
    font-size: 14px;
    
  }
</style>
<div class="formerror">File Size Exceeds Maximum Limit.</div>
