<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
<div id="main"><!-- main -->
<div id="main_inner"><!-- main inner -->
<h1>your job application is almost complete</h1>
<h4>DezineConnect Team has mailed you an activation link.</h4>
<h4>We have sent an email to <b><%=  @job_application.email %></b>. Click on the link in your email to complete your job application</h4>
</div><!-- main inner -->
</div><!-- main -->
</div><!-- wrap -->



  