<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
<div id="main"><!-- main -->
<div id="main_inner"><!-- main inner -->
<h1>You have successfully applied for this job</h1>
<a href="/jobs">browse more jobs</a>

</div><!-- main inner -->
</div><!-- main -->
</div><!-- wrap -->



  