<!--<h1>Listing payments</h1>

<table>
  <tr>
  </tr>

<%# for payment in @payments %>
  <tr>
    <td><%#= link_to 'Show', payment %></td>
    <td><%#= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%#= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%# end %>
</table>

<br />-->

<%#= link_to 'New payment', new_payment_path %>


<%= stylesheet_link_tag 'design_directories_information'  %>
<style type="text/css">
  #directories_head_link a {
    color: orange;
}
#account_type .payment_column, #account_type .payment_column_hd{
  width: 200px;
  text-align: left;
}
#account_type .payment_column_hd {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  }
#account_type table .tr_border td{
  border-bottom: #000 1px dotted;
  }
#account_type table tr td{
  text-align: center;
  /*border-bottom: #cbcbcb 1px solid;*/
  width: 200px;
}
#account_type table th{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  /*border-bottom: #cbcbcb 1px solid;*/
}
#account_type table th span{
  font-size: 18px;
  font-weight: normal;
  color: black;
}
#account_type table th span dl{
  font-size: 13px;
  font-weight: normal;
  color: black;
  display: inline;
  text-transform: none;
  margin: 0px;
  font-family: Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
}
</style>
<div id="wrap"><!-- wrap -->
  <div id="main"><!-- main -->
    <div id="main_inner"><!-- main inner -->
      <h1>pricing & sign up</h1>
    <div id="account_type">
    <table cellpadding="3" cellspacing="0">
    <tbody>
    <thead>
    <th>
   </th>
    <th>
    basic<br/>
    <span>FREE!</span>
    </th>
   <th>
    pro<br/>
    <span>
      <img src="../images/rupee_symbol.png" width="12px" height="13px" style="margin:0px 0px 0px 0px; "/>2000 <dl>/ per year</dl>
    </span>
    </th>
    </thead>
    </tbody>
    
    <tr class="tr_border">
       <td  class="payment_column_hd"  colspan="3">company profile</td>
      </tr>
      <tr>
        <td class="payment_column">company logo</td>
        <td><img src="../images/payement_ticker.png"/></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr>
        <td class="payment_column">company overview</td>
        <td>limited (50 words)</td>
        <td>unlimited</td>
      </tr>
      <tr>
        <td class="payment_column">services</td>
        <td>limited (4)</td>
        <td>unlimited</td>
      </tr>
       <tr>
        <td class="payment_column">staff size</td>
        <td><img src="../images/payement_ticker.png"/></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
        
      <tr>
        <td class="payment_column">clients</td>
        <td>limited (3)</td>
        <td>unlimited</td>
      </tr>
      <tr>
        <td class="payment_column">management team</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr>
        <td class="payment_column">awards</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
       <tr>
        <td class="payment_column">partners</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
       <tr>
        <td class="payment_column">press mentions</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr class="tr_border">
       <td class="payment_column_hd" colspan="3">contact information</td>
      </tr>
       <tr>
        <td class="payment_column">location</td>
        <td>limited (1)</td>
        <td>unlimited</td>
      </tr>
      <tr>
        <td class="payment_column">location MAP</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr class="tr_border">
       <td class="payment_column_hd" colspan="3">company portfolio</td>
      </tr>
      
       <tr>
        <td class="payment_column">work images</td>
        <td>limited (1)</td>
        <td>unlimited</td>
      </tr>
       <tr>
        <td class="payment_column">sets</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr>
        <td class="payment_column">case studies</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      <tr class="tr_border">
        <td class="payment_column_hd">more features</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="payment_column">custom URL</td>
        <td><img src="../images/payement_ticker.png"/></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
        <tr>
        <td class="payment_column">status message</td>
        <td></td>
        <td><img src="../images/payement_ticker.png"/></td>
      </tr>
      
       <tr>
        <td class="payment_column">traffic analytics</td>
        <td></td>
         <td><img src="../images/payement_ticker.png"/></td>
      </tr>
     <tr>
        <td></td>
        <td><button type="submit" id="signup_button"/></td>
        <td><button type="submit" id="signup_button"/></td>
      </tr>
    </table>
</div>
      
    </div><!-- main inner -->
  </div><!-- main -->

<!-- portfolio sider start -->
 <!-- <div id="sidebar">
    <div id="portfolio_sider">
      <div class="portfolio_regsteps_selected_after">
        <div class="portfolio_reg_steps_in">
          step 1: register
        </div>
      </div>
      <div class="portfolio_reg_steps_select">
        <div class="portfolio_reg_steps_in_select">
          step 2: profile information
        </div>
      </div>
      <div class="portfolio_reg_steps">
        <div class="portfolio_reg_steps_in">
          step 3: upload your work
        </div>
      </div>
    </div>
  </div>--><!-- portfolio sider end -->

</div><!-- wrap -->

