<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
<div id="main"><!-- main -->
<div id="main_inner"><!-- main inner -->
<h1>The page you requested was not found.</h1>
<h4>You may have clicked an expired link or mistyped the address. Some web addresses are case sensitive.</h4>
<a href="/">return to homepage</a><br/><br/>
</div><!-- main inner -->
</div><!-- main -->
</div><!-- wrap -->



  