
<!--css-->
<link href="/stylesheets/portfolio_image_slider.css?1281521710" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/directories_show.css?1281521710" media="screen" rel="stylesheet" type="text/css" />

<!--js script-->
<script src="/javascripts/contentslider.js?1279700961" type="text/javascript"></script>
<style type="text/css">
  #show_links{
    margin: 0 10px 20px 0;
    float: right;
    width: 900px;
    text-align: right;
    color: #666666;
}
  #show_links a{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    /*padding: 5px 15px 5px 15px;
    background: #dfdede;
    border-bottom: 1px solid #cfcece;*/
}
#show_links a:hover{
  /*background: #fff;
  border-bottom: 1px solid #cfcece;*/
}
#header{ height: 23px; overflow: visible;}
#portfolio_top_bar{  color: #cbcbcb; margin: 0px auto;  margin-top: -15px;}
#portfolio_top_bar #portfolio_top_bar_search  a{color: #cbcbcb;}
#portfolio_top_bar #portfolio_top_bar_search {color: #cbcbcb;}
#wrap { }
#portfolio_profile_sider span h5{border-bottom: #787878 1px dotted;}
#portfolio_profile_sider span h5 a{ float: right;}
#portfolio_top_bar{ width: 940px; clear: both; overflow: hidden; }
#title{ position: relative; }
#wrap #title h6 { margin-top: 51px;}



</style>

<div id="portfolio_top_bar">
  <div id="portfolio_top_bar_search"><a href="/directory">Back to HomePage</a></div>
  <div id="portfolio_top_bar_previous"><a href="/design_directories/show/53">Previous Company</a></div>
  <div id="portfolio_top_bar_next"><a href="/design_directories/show/18">Next Company</a></div>
  </div>

<div id="wrap"><!-- 960 px wrapper -->

  <div id="show_links">
    <a href="paid_show">over view</a> | <a href="paid_aboutus" style="color: orange;">about us</a> | <a href="paid_portfolio">portfolio</a> | <a href="paid_casestudies">case studies</a> | <a href="paid_contactus">contact us</a>
  </div>


  <div id="title">
  <h1>
    17dnorth - a design studio
    <dl><a href="/design_directories/search?search_textfield=Hyderabad">Hyderabad,</a> India</dl>
  </h1>
  <h6><a href="/design_directories/search?search_textfield=Branding &amp; Identity">Branding & Identity</a></h6>
  </div>
<div id="sidebar">
  <img src="/images/sample_img.jpg"/>
  </div>
<div id="main"><!-- main div -->
Vishwajeet started his career in advertising and one day woke up started his career in
advertising and one day woke up started his career in advertising and one day woke
up started his career in advertising and one day woke up
Vishwajeet started his career in advertising and one day woke up started his career in
advertising and one day woke up started his career in advertising and one day woke
up started his career in advertising and one day woke up
Vishwajeet started his career in advertising and one day woke up started his career in
advertising and one day woke up started his career in advertising and one day woke
up started his career in advertising and one day woke up
Vishwajeet started his career in advertising and one day woke up started his career in
advertising and one day woke up started his career in advertising and one day woke
up started his career in advertising and one day woke up 
</div>

</div><!-- 960 px wrapper -->
<div id="portfolio_show_footer"><!-- portfolio show footer /master footer hide in this page/ -->
  <a href="http://www.dezineconnect.com">

    <img src="/images/dezineconnect_logo_bottom.png" />
  </a>
</div><!-- portfolio show footer-->


<!-- footer start -->

<div id="footer">
	<div id="footer_content">
            <div id="footer_in">
                <div id="footer_in_copy"><a href="/about">about</a> | <a href="/contact">contact</a> &nbsp;| <a href="/legal">legal</a> &nbsp;

                  <a href="#">&copy; kern communications pvt. ltd.</a></div>
                <div id="footer_in_social">follow dezineconnect on</div> &nbsp;
                <div id="footer_in_social_icons">
                <a href="http://www.facebook.com/pages/DezineConnect/355092612970?ref=ts" target="_blank"><img src="/images/facebook_forfooter_inactive.gif"></a>
                <a href="http://twitter.com/dezineconnect" target="_blank"><img src="/images/twitter_forfooter_inactive.gif"></a>
                <a href="http://www.linkedin.com/groups?gid=2937305&trk=anetsrch_name&goback=.gdr_1271074305272_1" target="_blank"><img src="/images/linkedin_forfooter_inactive.gif"></a>
                <a href="http://feeds.feedburner.com/Dezineconnect" target="_blank"><img src="/images/rss_forfooter_inactive.gif"></a>

                </div>
            </div>
	</div>
<div class="clear"></div>

<!-- footer end -->


