<!--css-->
<%= stylesheet_link_tag 'portfolio_image_slider.css'%>
<%= stylesheet_link_tag 'directories_show.css'%>
<%= javascript_include_tag 'directories_show.css'%>

<!--js script-->
<script src="/javascripts/contentslider.js?1279700961" type="text/javascript"></script>
<style type="text/css">
  #show_links{
    margin: 0 10px 20px 0;
    float: right;
    width: 900px;
    text-align: right;
    color: #666666;
}
  #show_links a{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    /*padding: 5px 15px 5px 15px;
    background: #dfdede;
    border-bottom: 1px solid #cfcece;*/
}
#show_links a:hover{
  /*background: #fff;
  border-bottom: 1px solid #cfcece;*/
}
#header{ height: 23px; overflow: visible;}
#portfolio_top_bar{  color: #cbcbcb; margin: 0px auto;  margin-top: -15px;}
#portfolio_top_bar #portfolio_top_bar_search  a{color: #cbcbcb;}
#portfolio_top_bar #portfolio_top_bar_search {color: #cbcbcb;}
#wrap { }

#portfolio_profile_sider span h5{border-bottom: #787878 1px dotted;}
#portfolio_profile_sider span h5 a{ float: right;}
#portfolio_top_bar{ width: 940px; clear: both; overflow: hidden; }
#title{ position: relative;  }
#wrap #title h6 { margin-top: 51px;}
#main{ margin: 0px 10px; float: left;  overflow: hidden; width: 940px;}
#slider4{width: 938px;}
#slider4 a div{width: 938px;}
#paginate-slider4{width: 940px; }
#paginate-slider4 a img {margin-right: 5px; margin-top: 5px;}
#paginate-slider4 .slider_corner_img img { margin-top: 5px;}
#imageslider_prev_next{ display:  block; right: 0px;}



</style>

<div id="portfolio_top_bar">
  <div id="portfolio_top_bar_search"><a href="/directory">Back to HomePage</a></div>
  <div id="portfolio_top_bar_previous"><a href="/design_directories/show/53">Previous Company</a></div>
  <div id="portfolio_top_bar_next"><a href="/design_directories/show/18">Next Company</a></div>
  </div>

<div id="wrap"><!-- 960 px wrapper -->

  <div id="show_links">
    <a href="paid_show">over view</a> | <a  href="paid_aboutus">about us</a> | <a style="color: orange;" href="paid_portfolio">portfolio</a> | <a href="paid_casestudies">case studies</a> | <a href="paid_contactus">contact us</a>
  </div>


  <div id="title">
  <h1>
    17dnorth - a design studio
    <dl><a href="/design_directories/search?search_textfield=Hyderabad">Hyderabad,</a> India</dl>
  </h1>
  <h6><a href="/design_directories/search?search_textfield=Branding &amp; Identity">Branding &amp; Identity</a></h6>
  </div>
  <!--<img src="/images/portfolio_sample_img.jpg" />-->
<div id="main"><!-- main div -->
  <div class="sliderwrapper" id="slider4">
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 2),fun1('8_WorkDisc_2')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1250/original/vish_2.jpg&quot;) no-repeat scroll center center transparent; display: block; z-index: 1; opacity: 1.1; visibility: visible;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 3),fun1('8_WorkDisc_3')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1251/original/vish5.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 4),fun1('8_WorkDisc_4')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1252/original/vish_1a.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 5),fun1('8_WorkDisc_5')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1253/original/vishNYmalefashion.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 6),fun1('8_WorkDisc_6')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1254/original/vishNYIrene1.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 7),fun1('8_WorkDisc_7')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1255/original/vishNYaccessories.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 8),fun1('8_WorkDisc_8')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1256/original/Fashion_Backstage4.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  <a href="javascript:featuredcontentslider.jumpTo('slider4', 9),fun1('8_WorkDisc_1')"><div style="background: url(&quot;http://images.dezineconnect.com/Dezineconnect/images/images/1257/original/vish_3.jpg&quot;) no-repeat scroll center center transparent; display: none;" class="contentdiv"></div></a>
  </div>
  <!--portfolio image discription-->
  <p style="display: block;" id="WorkDisc_1">
    asdfad2
  </p>
  <p style="display: none;" id="WorkDisc_2">
    adf4
  </p>
  <p style="display: none;" id="WorkDisc_3">
    adf345
  </p>
  <p style="display: none;" id="WorkDisc_4">
    adf345345
  </p>
  <p style="display: none;" id="WorkDisc_5">
    adsf345345435
  </p>
  <p style="display: none;" id="WorkDisc_6">
    asdf ds4354353
  </p>
  <p style="display: none;" id="WorkDisc_7">
    adsfa dsads a dsf
  </p>
  <p style="display: none;" id="WorkDisc_8">
    adsf ads fad fadf
  </p>
  <h2>My Portfolio</h2>
  <!-- portfolio_works div -->
  <div id="paginate-slider4">
  <div id="imageslider_prev_next">
  <a href="#prev" class="prev">
  <img alt="left_arrow" src="../../images/imageslider_leftarrow.png">
  </a>
  <a href="#next" class="next">
  <img alt="right_arrow" src="../../images/imageslider_rightarrow.png">
  </a>
  </div>
  <!--image disc script-->
  <a class="toc someotheclass selected" href="#" rel="1">
  <img onclick="fun1('8_WorkDisc_1')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1250/thumb/vish_2.jpg"/>
  </a>
  <a class="toc someotheclass" href="#" rel="2">
  <img onclick="fun1('8_WorkDisc_2')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1251/thumb/vish5.jpg"/>
  </a>
  <a class="toc someotheclass" href="#" rel="3">
  <img onclick="fun1('8_WorkDisc_3')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1252/thumb/vish_1a.jpg"/>
  </a>
  <a class="toc someotheclass" href="#" rel="4">
  <img onclick="fun1('8_WorkDisc_4')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1253/thumb/vishNYmalefashion.jpg"/>
  </a>
  <a class="toc someotheclass" href="#" rel="5">
  <img onclick="fun1('8_WorkDisc_5')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1254/thumb/vishNYIrene1.jpg"/>
  </a>
  <a class="toc someotheclass slider_corner_img" href="#" rel="6">
  <img onclick="fun1('8_WorkDisc_6')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1255/thumb/vishNYaccessories.jpg"/>
  </a>
  <a class="toc someotheclass" href="#" rel="7">
  <img onclick="fun1('8_WorkDisc_7')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1256/thumb/Fashion_Backstage4.jpg"/>
  </a>
  <a class="toc someotheclass slider_corner_img" href="#" rel="8">
  <img onclick="fun1('8_WorkDisc_8')" src="http://images.dezineconnect.com/Dezineconnect/images/images/1257/thumb/vish_3.jpg"/>
  </a>
  </div>
    <script type="text/javascript">
    featuredcontentslider.init({
    id: "slider4", //id of main slider DIV
    contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
    toc: "markup", //Valid values: "#increment", "markup", ["label1", "label2", etc]
    nextprev: ["", "Next"], //labels for "prev" and "next" links. Set to "" to hide.
    revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
    enablefade: [true, 0.1], //[true/false, fadedegree]
    autorotate: [false, 3000], //[true/false, pausetime]
    onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
    //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
    //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
    }
    })
    </script>
  <!-- portfolio_works div -->
  </div>
</div>