
<!--css-->
<link href="/stylesheets/portfolio_image_slider.css?1281521710" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/directories_show.css?1281521710" media="screen" rel="stylesheet" type="text/css" />

<!--js script-->
<script src="/javascripts/contentslider.js?1279700961" type="text/javascript"></script>
<style type="text/css">
  #show_links{
    margin: 0 10px 20px 0;
    float: right;
    width: 900px;
    text-align: right;
    color: #666666;
}
  #show_links a{
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    /*padding: 5px 15px 5px 15px;
    background: #dfdede;
    border-bottom: 1px solid #cfcece;*/
}
#show_links a:hover{
  /*background: #fff;
  border-bottom: 1px solid #cfcece;*/
}
#header{ height: 23px; overflow: visible;}
#portfolio_top_bar{  color: #cbcbcb; margin: 0px auto;  margin-top: -15px;}
#portfolio_top_bar #portfolio_top_bar_search  a{color: #cbcbcb;}
#portfolio_top_bar #portfolio_top_bar_search {color: #cbcbcb;}
#wrap { }
#portfolio_profile_sider span h5{border-bottom: #787878 1px dotted;}
#portfolio_profile_sider span h5 a{ float: right;}
#portfolio_top_bar{ width: 940px; clear: both; overflow: hidden; }
#title{ position: relative; }
#wrap #title h6 { margin-top: 51px;}


</style>

<div id="portfolio_top_bar">
  <div id="portfolio_top_bar_search"><a href="/directory">Back to HomePage</a></div>
  <div id="portfolio_top_bar_previous"><a href="/design_directories/show/53">Previous Company</a></div>
  <div id="portfolio_top_bar_next"><a href="/design_directories/show/18">Next Company</a></div>
  </div>

<div id="wrap"><!-- 960 px wrapper -->

  <div id="show_links">
     <a href="paid_show" style="color: orange;">over view</a> | <a href="paid_aboutus">about us</a> | <a href="paid_portfolio">portfolio</a> | <a href="paid_casestudies">case studies</a> | <a href="paid_contactus">contact us</a>
  </div>


  <div id="title">
  <h1>
    17dnorth - a design studio
    <dl><a href="/design_directories/search?search_textfield=Hyderabad">Hyderabad,</a> India</dl>
  </h1>
  <h6><a href="/design_directories/search?search_textfield=Branding &amp; Identity">Branding & Identity</a></h6>
  </div>
<div id="sidebar">
  <div id="portfolio_view_bio">
  <img alt="New1_copy" src="http://images.dezineconnect.com/Dezineconnect/logos/logos/4/original/new1_copy.png?1281955576" />
  <p>Designing Innovations & Innovating Designs
  A design studio with a blend of Research, Design & Innovation, which helps in Design realization of many Individuals & Organizations.
  Our multidisciplinary sensibilities make possible convergence of different experiences resulting in Holistic design and enrichment of Client’s businesses.</p>
  </div>
  <div class="clear"></div>
  <div id="portfolio_profile_sider">
  <span>
    <h5>other services<a href="#">more></a></h5>
   <a href="/design_directories/search?search_textfield=Interior Design">Interior Design</a><br/>
   <a href="/design_directories/search?search_textfield=Architecture">Architecture</a><br/>
  <a href="/design_directories/search?search_textfield=Product Design">Product Design</a>
  </span>
  <span>
  <h5>staff size</h5>
  0 to 10
  </span>
  <span>
  <h5>year founded</h5>
  2009
  </span>
<span>
 <h5>clients<a href="#">more></a></h5>
  <a href="/design_directories/search?search_textfield=Ohris, Hyderabad">Ohris, Hyderabad</a><br/>
  <a href="/design_directories/search?search_textfield=CONA Electricals">CONA Electricals</a><br/>
  <a href="/design_directories/search?search_textfield=NephroPlus">NephroPlus</a>
</span>
<span>
<h5>address<a href="#">more></a></h5>
Opp Little Italy, Plot No. 560 A,
Phase III, 1st Floor,
Road No. 92,
Jubilee Hills<br/>
<a href="/design_directories/search?search_textfield=Hyderabad">Hyderabad</a><br/>
India
</span>
<span>
<h5>website</h5>
<a href="http://www.17dnorth.com" target="_blank">http://www.17dnorth.com</a>
</span>
<span>
<h5>contact details</h5>
<a href="mailto:contactus@17dnorth.com">contactus@17dnorth.com</a>
</span>
    <span>
      <a href="http://www.linkedin.com/companies/17dnorth" target="_blank">
        <div id="portfolio_social_linkedin"></div>
      </a>
      <a href="http://www.facebook.com/17dnorth" target="_blank">
        <div id="portfolio_social_facebook"></div>
      </a>
      <a href="http://www.twitter.com/17dnorth" target="_blank">
        <div id="portfolio_social_twitter"></div>
      </a>
      <div class="clear"></div>
    </span>
  </div>

</div>
<div id="main"><!-- main div -->
  <div>
    <div class="sliderwrapper" id="slider4">
      <!---for Image Discription-->
      <!---for Image Discription-->

      <!---for Image Discription-->
        <!---for Image Discription-->
          <div class="contentdiv" style="background: url('http://images.dezineconnect.com/Dezineconnect/images/images/1022/original/for_dezineconnect.jpg') no-repeat; background-position:center;"></div>
    </div>
  </div>
  <!--portfolio image discription-->
  <!--portfolio image discription-->
      <p id="WorkDisc_1" style="display: block">
        Some of our Branding work done in the recent past.
      </p>
  <!-- portfolio_works div -->
  <div id="paginate-slider4">
    <div id="imageslider_prev_next">
      <a href="#prev" class="prev">
        <img alt="left_arrow" src="../../images/imageslider_leftarrow.png"/>
      </a>
      <a href="#next" class="next">
        <img alt="right_arrow" src="../../images/imageslider_rightarrow.png"/>
      </a>

    </div>
  </div>

  <script type="text/javascript">
    featuredcontentslider.init({
      id: "slider4", //id of main slider DIV
      contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
      toc: "markup", //Valid values: "#increment", "markup", ["label1", "label2", etc]
      nextprev: ["", "Next"], //labels for "prev" and "next" links. Set to "" to hide.
      revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
      enablefade: [true, 0.1], //[true/false, fadedegree]
      autorotate: [false, 3000], //[true/false, pausetime]
      onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
        //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
        //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
      }
    })
  </script>
  <!-- portfolio_works div -->
</div>


</div><!-- 960 px wrapper -->
<div id="portfolio_show_footer"><!-- portfolio show footer /master footer hide in this page/ -->
  <a href="http://www.dezineconnect.com">

    <img src="/images/dezineconnect_logo_bottom.png" />
  </a>
</div><!-- portfolio show footer-->


<!-- footer start -->

<div id="footer">
	<div id="footer_content">
            <div id="footer_in">
                <div id="footer_in_copy"><a href="/about">about</a> | <a href="/contact">contact</a> &nbsp;| <a href="/legal">legal</a> &nbsp;

                 &copy; kern communications pvt. ltd.</a></div>
                <div id="footer_in_social">follow dezineconnect on</div> &nbsp;
                <div id="footer_in_social_icons">
                <a href="http://www.facebook.com/pages/DezineConnect/355092612970?ref=ts" target="_blank"><img src="/images/facebook_forfooter_inactive.gif"></a>
                <a href="http://twitter.com/dezineconnect" target="_blank"><img src="/images/twitter_forfooter_inactive.gif"></a>
                <a href="http://www.linkedin.com/groups?gid=2937305&trk=anetsrch_name&goback=.gdr_1271074305272_1" target="_blank"><img src="/images/linkedin_forfooter_inactive.gif"></a>
                <a href="http://feeds.feedburner.com/Dezineconnect" target="_blank"><img src="/images/rss_forfooter_inactive.gif"></a>

                </div>
            </div>
	</div>
<div class="clear"></div>

<!-- footer end -->


