<%= stylesheet_link_tag 'create_portfolio' %>
<!--include for word count--->
<!--include for word count end-->
<style type="text/css">
.portfolio_rounded_shading {
  width: 615px;
}
</style>
<script type="text/javascript">
function limitLength(obj, length) {
    var desc = obj.value;
    obj.value = substr(obj.value,length);
}
function substr(str,length){
    var l=0,i=0;
    while(l <length && i<str.length){
        l+=1;
        if(str.substring(i,i+1).match(/[\u4e00-\u9fa5]/))l+=2;// A Chinese is the equivalent of three English
        i+=1;
    }
    return str.substring(0,i);
}

/*Textarea Maxlength script*/
function ismaxlength(obj){
var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
if (obj.getAttribute && obj.value.length>mlength)
obj.value=obj.value.substring(0,mlength)
}

var upload_images_count=0;
function validate()
{
  //alert('hi');
    if(upload_images_count=='0') {
      document.getElementById('validation_upload_image').style.color="red";
      document.getElementById('portfolio_imageupload_error_msg').style.display="block";
      document.getElementById('portfolio_imageupload_8count_error_msg').style.display="none";
      return false
      }
    else if(upload_images_count=='1') {
      document.super_form.submit();
      return true;
    }
    else{
      return false;
    }
}

function validation(ctl,ct2) {
    if((document.getElementById(ctl).value=="")) {
       document.getElementById(ctl).style.border="1px red solid";
       document.getElementById(ctl).style.background="#ffefef";
       document.getElementById(ct2).style.display="block";
       return false;
       }
    else {
       document.getElementById(ctl).style.border="1px #ccc solid";
       document.getElementById(ctl).style.background="#fff";
       document.getElementById(ct2).style.display="none";
       return true;
       }
}
//body on load function//
function start(){
  document.getElementById('ValidationUploadImage').value=1;
  }
</script>

<!-- 960 px wrapper -->
<div id="wrap">
  <div id="main"> <!-- main start -->
    <div id="main_inner"> <!-- main inner start -->
    <h1>Upload your work</h1>
    <div class="clear"></div>
    <form name="super_form" id="super_form" action="/design_directories/update_design_directory_specifications/<%= @design_directory.id %>" method="post" onsubmit="javascript:return validate();" enctype="multipart/form-data">
              <div class="portfolio_rounded_shading">
          <div id="portfolio_rounded_shading_in">
          <label style="display: none;">name of the set</label>
          <input style="display: none;" type="text" name="set_name" maxlength="45" size="40" id="set_name" value="" onfocus="textOnFocus(this);" onblur="textOnBlur(this)"/>
          
            <div id="mp3info" style="clear: left;"></div>
            <div id="container">
              <label style="display: none;" id="validation_upload_image">upload
                <base>
                <input style="display: none;" value="4" type="text" size="3" id="ValidationUploadImage" maxlength="3"/>
                </base> your work
              </label>
            <br/>
             <%= render :file => "/design_directories/upload_partial" %>
            </div>
          </div>
        </div>

          <div id="upload_portfolio_bottom">
          <button type="submit"  id="portfolio_publish_btn" onclick="validate()"></button>
          <span>
            by clicking "publish" I agree to the <a href="/legal">terms and conditions</a>
        </span>
        </div>
      </form>
    </div> <!-- main inner ends -->
  </div> <!-- main ends -->

  <div id="sidebar"><!-- sidebar starts -->
    <div id="portfolio_sider">
      <div class="portfolio_regsteps_selected_after">
        <div class="portfolio_reg_steps_in">
          step 1: register
        </div>
      </div>
      <div class="portfolio_regsteps_selected_after">
        <div class="portfolio_reg_steps_in">
          step 2: profile information
        </div>
      </div>
      <div class="portfolio_reg_steps_select">
        <div class="portfolio_reg_steps_in_select">
          step 3: upload your work
        </div>
      </div>
    </div>
  </div><!-- main ends -->

</div><!-- 960 px wrapper ends -->
