<%= stylesheet_link_tag 'portfolio_thankyou'  %>
<div id="wrap"><!-- wrap -->
<div id="main"><!-- main -->
<div id="main_inner"><!-- main inner -->
<h1>your portfolio is almost published</h1>
<h4>we have sent an email to <b><%=  @design_directory.user.email %></b>. click on the link in your email to publish your portfolio.</h4>
</div><!-- main inner -->
</div><!-- main -->
</div><!-- wrap -->



  