<h1>Listing images</h1>

<table>
  <tr>
    <th>image</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td style="text-align: center"><%= image_tag image.image.url(:thumb) %></td>
    <td><%= link_to 'Show', image %></td>
  </tr>
<% end %>
</table>

<br />


