<script src="/javascripts/jquery-1.3.2.js?1256144160" type="text/javascript"></script>
<script src="/javascripts/swfupload/swfupload.js?1256144160" type="text/javascript"></script>

<script src="/javascripts/swfupload/swfupload.swfobject.js?1256144160" type="text/javascript"></script>
<script src="/javascripts/swfupload/handlers.js?1256144160" type="text/javascript"></script>
<link href="/stylesheets/portfolio_imageupload_swfupload.css?1274417731" media="screen" rel="stylesheet" type="text/css" />

<link href="/stylesheets/portfolio_imageupload.css" media="screen" rel="stylesheet" type="text/css" />
<div id='container'>
  <!--<form action="/images" enctype="multipart/form-data" method="post">-->
    <div id='swfupload_degraded_container'>
      <noscript>You should have Javascript enabled for a nicer upload experience</noscript>
      </div>
    <div id='swfupload_container' style='display: none'>
      <span id='spanButtonPlaceholder'></span>
    </div>
    <div id="portfolio_imageupload_error_msg">
      please upload atleast 1 image
    </div>
    <div id="portfolio_imageupload_8count_error_msg">
      you can't upload more than 8 images
    </div>

    <div id="portfolio_imageupload_extext">
      Images larger than 635 x 435 px will be resized.
      <br/>
      Up to 10MB of JPG, PNG, BMP and GIF formats supported
    </div>
    <div id='divFileProgressContainer'></div>
  <!--</form>-->
<%
   unless @portfolio.nil? or @portfolio.blank? then

      @portfolio = Portfolio.find_by_id(@portfolio.id)
      @image_count = @portfolio.images.count

      unless session[:registered_portfolio_id].nil? or session[:registered_portfolio_id].blank? then
        @portfolio_id = session[:registered_portfolio_id]
      else
        @portfolio_id = @portfolio.id
      end
  else
    @image_count = 1
  end
%>

  <div id='mp3info'></div>
  <%= javascript_include_tag 'PortfolioImageUploadCount'   %>
  <script type='text/javascript'>
  var imagec=8-<%= @image_count %>;
    document.getElementById('ValidationUploadImage').value=imagec;
    if (imagec <= 0){
      //document.getElementById('portfolio_imageupload_8count_error_msg').style.display="block";
      var swfu_inst = SWFUpload.instances[key];
      swfu_inst.setButtonDisabled(true);
     }
    //alert(imagec);

    //<![CDATA[
    SWFUpload.onload = function() {
      var swf_settings = {

        // SWFObject settings
        minimum_flash_version: "9.0.28",
        swfupload_pre_load_handler: function() {
          $('#swfupload_degraded_container').hide();
          $('#swfupload_container').show();
        },
        swfupload_load_failed_handler: function() {
        },

        post_params: {
          "_swfupload_demo_session": "BAh7CDoPc2Vzc2lvbl9pZCIlZDE4NzQ5NDRmYjY1YmMzMmY1ZTE3ZDkzM2JjNGIyMDI6EF9jc3JmX3Rva2VuIjFDNHNUOGQxcXg3YTY4VjM3M2hENkZLVXdSNGZPS3QxUW1FN1NaMXVRQ0NZPSIKZmxhc2hJQzonQWN0aW9uQ29udHJvbGxlcjo6Rmxhc2g6OkZsYXNoSGFzaHsABjoKQHVzZWR7AA==--47008882f3b7bd38601dde728177f783044a8340",
          "authenticity_token": "C4sT8d1qx7a68V373hD6FKUwR4fOKt1QmE7SZ1uQCCY=",
          "portfolio_id":<%= @portfolio_id %>
        },
        
        //upload_url: "/songs?_swfupload_demo_session="+encodeURIComponent("BAh7CDoPc2Vzc2lvbl9pZCIlZDE4NzQ5NDRmYjY1YmMzMmY1ZTE3ZDkzM2JjNGIyMDI6EF9jc3JmX3Rva2VuIjFDNHNUOGQxcXg3YTY4VjM3M2hENkZLVXdSNGZPS3QxUW1FN1NaMXVRQ0NZPSIKZmxhc2hJQzonQWN0aW9uQ29udHJvbGxlcjo6Rmxhc2g6OkZsYXNoSGFzaHsABjoKQHVzZWR7AA==--47008882f3b7bd38601dde728177f783044a8340")+"&authenticity_token="+encodeURIComponent("C4sT8d1qx7a68V373hD6FKUwR4fOKt1QmE7SZ1uQCCY="),
        upload_url: "/images",
        flash_url: '/flash/swfupload/swfupload.swf',

        file_types: "*.jpg;*.bmp;*.gif;*.png",
        file_types_description: "JPG Files",
        file_size_limit: "10 MB",
        file_upload_limit : imagec,
        file_queue_limit : imagec,
        button_placeholder_id: "spanButtonPlaceholder",
        //button_image_url : "../images/select_images.png",
        button_image_url : "../../images/uploadyourimages_sprite.png",
        button_width: 155,
        button_height: 31,
        button_text : '<span class="button"></span>',
        button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 24pt; } .buttonSmall { font-size: 18pt; }',
        button_text_top_padding: 0,
        button_text_left_padding: 18,
        button_disabled : false,
        button_cursor : SWFUpload.CURSOR.HAND,
        button_action : SWFUpload.BUTTON_ACTION.SELECT_FILES,
        button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
        button_cursor: SWFUpload.CURSOR.HAND,
        file_queue_error_handler : fileQueueError,
        file_dialog_complete_handler : fileDialogComplete,
        upload_progress_handler : uploadProgress,
        upload_error_handler : uploadError,
        upload_success_handler : uploadSuccess,
        upload_complete_handler : uploadComplete,

        custom_settings : {
          upload_target: "divFileProgressContainer"
        }
      }
      var swf_upload = new SWFUpload(swf_settings);
    };
    //]]>
  </script>
</div>