<!-- footer start -->
    <div id="footer">
            <div id="footer_content">
                <div id="footer_in">
                    <div id="footer_in_copy"><a href="/about">about</a> | <a href="/contact">contact</a> | <a href="/legal">legal</a> &nbsp;
                     &copy; kern communications pvt. ltd.</a></div>
                    <div id="footer_in_social">follow dezineconnect on</div> &nbsp;
                    <div id="footer_in_social_icons">
                    <a href="http://www.facebook.com/pages/DezineConnect/355092612970?ref=ts" target="_blank"><img src="/images/facebook_forfooter_inactive.gif"></a>
                    <a href="http://twitter.com/dezineconnect" target="_blank"><img src="/images/twitter_forfooter_inactive.gif"></a>
                    <a href="http://www.linkedin.com/groups?gid=2937305&trk=anetsrch_name&goback=.gdr_1271074305272_1" target="_blank"><img src="/images/linkedin_forfooter_inactive.gif"></a>
                    <a href="http://feeds.feedburner.com/Dezineconnect" target="_blank"><img src="/images/rss_forfooter_inactive.gif"></a>
                    </div>
                </div>
            </div>
    </div>
<!-- footer end -->
  </body>
</html>