<%= render :partial => "/layouts/header" %>
<!-- 960 px wrapper -->
<div id="wrap">
  <div id="main">
    <div id="main_inner">
      <div id="title"><h1>thank you</h1></div>
      <br/>
      A email has been sent to 'abc@companyname.com'
      <br/><br/>
      Please click on the link provided in the mail (with in 7 days) to confirm and publish your job. (Your job posting will be published only after you confirm your account)<br/><br/>
      If your 'how to apply' email i.d is different from your 'log-in' email i.d, please walk up to the person in charge of 'how to apply' email and get your account confirmed.
    </div><!-- main inner ends -->
  </div><!-- main ends -->
</div><!-- 960 px wrapper ends -->
<%= render :partial => "/layouts/footer" %>